.Cart-Item_Form {
    display: grid;
    place-items: center;
    gap: 20px;
}

.Cart__Layout {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.EmptyCart {
    width: clamp(280px, 30vw, 600px);
}

.EmptyCart > img {
    width: 100%;
    aspect-ratio: 1;
}

.Cart-Item-List {
    display: grid;
    gap: 20px;
}

.Cart-Item {
    display: grid;
    grid-template-columns: clamp(280px, 50vw, 900px);
    gap: 10px;
    align-items: center;
    border-bottom: 2px solid var(--color-primary);
    border-top: 2px solid var(--color-primary);
}

.Cart-Item > img {
    grid-area: 2 / 1;
    width: 120px;
    aspect-ratio: 1;
}

.Cart-Item_Name {
    grid-area: 1 / 1;
    font-size: clamp(18px, 3vw, 24px);
    font-weight: 700;
}

.Cart-Item_Price {
    grid-area: 2 / 1;
    justify-self: end;
    font-weight: 600;
}

.Discounted {
    color: var(--color-primary);
}

.Cart-Item_Cost {
    grid-area: 4 / 1;
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 500;
    border-radius: 10px;
    padding: 5px;
}

.Cart-Item_Quantity {
    grid-area: 3 / 1;
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    padding: 5px;
}

.Cart-Item_Quantity input {
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 600;
    color: var(--color-alt);
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

.Cart-Item_Quantity button {
    width: 25px;
    height: 25px;
    border-radius: 20%;
    background-color: var(--color-text);
    color: var(--color-default);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.Cart-Item_Quantity button:hover {
    background-color: var(--color-primary);
}

.Remove_Item {
    grid-area: 4/1;
    justify-self: end;
    background-color: transparent;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}

.Remove_Item:hover {
    background-color: var(--color-primary);
    color: var(--color-default);
}

.Remove_Item > img {
    width: 100%;
}

.Purchase-Check {
    position: sticky;
    top: 150px;
    display: grid;
    min-width: 280px;
    height: 300px;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    padding: 20px;
}

.Purchase-Check div:first-child {
    justify-self: center;
}

.Total-Price {
    font-weight: 600;
}

.Buy_Btn {
    justify-self: center;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    background-color: var(--color-alt-rgba-3);
    color: var(--color-default);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.Buy_Btn:hover {
    background-color: var(--color-primary);
}

@media (width > 1024px) {
    .Cart-Item_Price {
        justify-self: center;
    }

    .Cart-Item_Quantity {
        grid-area: 2 / 1;
        justify-self: end;
        align-self: flex-end;
    }

    .Cart-Item_Cost,
    .Remove_Item {
        grid-area: 3 / 1;
    }
}
