.CartToShop__Btn a {
    background-color: var(--color-primary);
    color: var(--color-default);
    padding: 10px;
    text-decoration: none;
}

.Cart__Layout {
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.EmptyCart {
    width: 280px;
    aspect-ratio: 1;
}

.ToShopLink {
    margin: 0 auto;
    width: fit-content;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    transition: var(--transition-fast);
}

.ToShopLink:hover {
    background-color: var(--color-primary-rgba);
}

.ToShopLink:hover a {
    color: var(--color-default);
}

.ToShopLink a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 5px;
    color: var(--color-primary);
    text-decoration: none;
    transition: var(--transition-fast);
}

.EmptyCart {
    margin: 0 auto;
}

.EmptyCart > img {
    width: 100%;
    aspect-ratio: 1;
}

.Cart-Item-List-Header .fakeimg {
    width: 70px;
    aspect-ratio: 1;
}

.Cart-Item-List {
    display: grid;
}

.Cart-Item {
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: repeat(6, min-content);
    border-bottom: 1px solid var(--color-primary);
    max-height: fit-content;
    margin-bottom: 10px;
    text-align: center;
}

.Cart-Item > img {
    grid-area: 1 / 1;
    align-self: center;
    width: 70px;
    aspect-ratio: 1;
}

.Cart-Item_Name {
    font-size: clamp(16px, 2vw, 20px);
    min-width: clamp(240px, 25vw, 500px);
    grid-area: 1 / 2;
}

.Cart-Item_Price {
    grid-area: 1 / 3;
    min-width: 80px;
}

.Cart-Item_Price span {
    display: none;
}

.Cart-Item_Quantity {
    grid-area: 1 / 4;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    width: 140px;
}

.Cart-Item_Quantity label {
    margin-right: 10px;
}

.Cart-Item_Quantity input {
    font-size: clamp(16px, 2vw, 18px);
    color: var(--color-alt);
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid var(--color-alt);
}

.Cart-Item_Quantity input::-webkit-outer-spin-button,
.Cart-Item_Quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.Cart-Item_Quantity button {
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-alt);
    transition: var(--transition-fast);
    cursor: pointer;
}

.Cart-Item_Quantity button:hover {
    background-color: var(--color-primary);
}

.Cart-Item_Cost {
    grid-area: 1 / 5;
    width: 120px;
}

.Cart-Item_Cost span {
    display: none;
}

.Remove_Item {
    background-color: transparent;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    transition: var(--transition-fast);
}

.Remove_Item:hover {
    background-color: var(--color-primary);
    color: var(--color-default);
}

.Remove_Item > img {
    width: 100%;
}

.Purchase-Check {
    position: sticky;
    top: 150px;
    justify-self: center;
    display: grid;
    width: 260px;
    height: 300px;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    padding: 10px 20px;
}

.Purchase-Check div:first-child {
    justify-self: center;
}

.Buy_Btn {
    font-size: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: var(--transition-fast);
}

.Buy_Btn:disabled {
    background-color: var(--color-icon);
}

.Buy_Btn:disabled:hover {
    background-color: var(--color-icon);
    cursor: not-allowed;
}

.Buy_Btn:hover {
    background-color: var(--color-primary);
    color: var(--color-default);
}

.Buy_Btn abbr {
    text-decoration: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.Buy_Btn a {
    display: grid;
    align-items: center;
    text-decoration: none;
    color: inherit;
    height: inherit;
}

@media (width <= 1200px) {
    .Cart__Layout {
        grid-template-columns: auto;
    }
}

@media (width <= 768px) {
    .Cart-Item-List-Header {
        display: none;
    }

    .Cart-Item-List {
        place-items: unset;
    }
    .Cart-Item {
        grid-template-columns: 1fr 2fr;
        place-items: center;
        gap: 5px;
    }

    .Cart-Item img {
        width: 50px;
    }

    .Cart-Item_Name {
        min-width: 160px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .Cart-Item_Price {
        grid-area: 2 / 1;
    }

    .Cart-Item_Price span {
        display: inline;
    }

    .Cart-Item_Cost {
        grid-area: 3 / 2;
    }

    .Cart-Item_Cost span {
        display: inline;
    }

    .Cart-Item_Quantity {
        grid-area: 2 / 2;
    }

    .Remove_Item {
        grid-area: 3 / 1;
    }
}
