.MobileMenu__Btn {
    place-items: center;
    display: none;
    z-index: 100;
    width: 40px;
    height: 40px;
    padding: 5px;
    transition: var(--transition-fast);
    background: none;
    cursor: pointer !important;
    border: none;
    border-radius: 2px;
}

.MobileMenu__Btn--Actived {
    background-color: var(--color-alt-rgba-3);
    z-index: 9999;
}

.MobileMenu__Btn:hover {
    background-color: var(--color-alt-rgba-3);
}

.MobileMenu__Btn:hover .MenuIcon {
    background-color: var(--color-default);
}

.MobileMenu__Btn:hover .MenuIcon3 {
    width: 30px;
}

.MenuIcon {
    transform-origin: left;
    height: 2px;
    transition: var(--transition-fast);
    background-color: var(--color-text);
}

.MenuIcon1,
.MenuIcon2 {
    width: 30px;
}

.MenuIcon3 {
    justify-self: end;
    width: 20px;
}

.MenuIcon1--Actived {
    transform: rotate(45deg) translateX(1px) translateY(-5px);
}

.MenuIcon2--Actived {
    display: none;
}

.MenuIcon3--Actived {
    transform: rotate(-45deg) translateX(1px) translateY(5px);
}

.MobileMenu__NavContainer {
    display: grid;
    position: absolute;
    inset: 0;
    left: -100%;
    z-index: -1;
    width: 100%;
    height: 100lvh;
}

.MobileMenu__NavContainer--Opened {
    transition: var(--transition-fast);
    backdrop-filter: blur(10px);
    left: 0;
    z-index: 1000;
}

.MobileMenu__Nav {
    justify-self: end;
    scrollbar-gutter: stable both-edges;
    display: grid;
    grid-template-rows: repeat(auto-fit, 44px);
    z-index: 1000;
    overflow: auto;
    width: clamp(240px, 50vw, 50%);
    max-height: 100%;
    background-color: var(--color-default);
    text-align: center;
    border: 1px solid var(--color-primary);
}

.MobileMenu__Nav a {
    color: var(--color-text);
    text-decoration: none;
}

.MobileMenu__Nav::-webkit-scrollbar {
    width: 2px;
}

.MobileMenu__Nav::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

.MobileMenu__Item {
    position: relative;
    padding: 10px;
    font-weight: 600;
    color: var(--color-text);
}

.MobileMenu__Item.active::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 40px;
    border-bottom: 1px solid var(--color-default);
    border-bottom-right-radius: 400%;
    border-bottom-left-radius: 75%;
}

.MobileMenu__Item.active::after {
    content: '';
    position: absolute;
    top: 5%;
    left: 0%;
    width: 50%;
    height: 40px;
    border-top: 1px solid var(--color-default);
    border-top-left-radius: 400%;
    border-top-right-radius: 75%;
}

.MobileMenu__Item.active {
    background-color: var(--color-primary);
    color: var(--color-default);
}

.MobileMenu__Item:not(.active)::before {
    transform-origin: left;
    content: '';
    position: absolute;
    bottom: 8px;
    left: 20px;
    transform: rotateY(90deg);
    width: 50%;
    height: 2px;
    transition: all linear 0.7s;
    background-color: var(--color-default);
}

.MobileMenu__Item:not(.active)::after {
    transform-origin: right;
    content: '';
    position: absolute;
    top: 8px;
    right: 20px;
    transform: rotateY(90deg);
    width: 50%;
    height: 2px;
    transition: all linear 0.7s;
    background-color: var(--color-default);
}

.MobileMenu__Item:not(.active):hover {
    background-color: var(--color-alt-rgba-3);
    color: var(--color-default);
}

.MobileMenu__Item:not(.active):hover::before,
.MobileMenu__Item:not(.active):hover::after {
    transform: rotateY(0);
}

@media (width <= 1024px) {
    .MobileMenu__Btn {
        display: grid;
    }
}
