.MobileMenu {
    display: none;
    place-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 2px;
    background: none;
    cursor: pointer !important;
    transition: var(--transition-fast);
    z-index: 100;
}

.MobileMenu:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.MobileMenu:hover .MenuIcon {
    background-color: var(--color-default);
}

.MobileMenu:hover .MenuIcon3 {
    width: 30px;
}

.MenuIcon {
    height: 2px;
    background-color: var(--color-text);
    transition: var(--transition-fast);
    transform-origin: left;
}

.MenuIcon1,
.MenuIcon2 {
    width: 30px;
}

.MenuIcon3 {
    width: 20px;
    justify-self: end;
}

.MobileMenu__NavContainer {
    position: absolute;
    inset: 0;
    display: flex;
    height: 0;
    transition: var(--transition-fast);
}

.MobileMenu__Nav {
    text-align: center;
    display: grid;
    width: 100%;
    max-height: 100%;
    grid-template-rows: repeat(auto-fit, 44px);
    background-color: var(--color-default);
    margin-top: 60px;
    scrollbar-gutter: stable both-edges;
    overflow: auto;
}

.MobileMenu__Nav a {
    color: var(--color-text);
    text-decoration: none;
}

.MobileMenu__Nav::-webkit-scrollbar {
    width: 2px;
}

.MobileMenu__Nav::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

.MobileMenu__Item {
    position: relative;
    font-weight: 600;
    color: var(--color-text);
    padding: 10px;
    transition: var(--transition-fast);
}

.MobileMenu__Item.active::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 40px;
    border-bottom: 1px solid var(--color-default);
    border-bottom-left-radius: 75%;
    border-bottom-right-radius: 400%;
    transition: var(--transition-fast);
}

.MobileMenu__Item.active::after {
    content: '';
    position: absolute;
    top: 5%;
    left: 0%;
    width: 50%;
    height: 40px;
    border-top: 1px solid var(--color-default);
    border-top-right-radius: 75%;
    border-top-left-radius: 400%;
    transition: var(--transition-fast);
}

.MobileMenu__Item.active {
    color: var(--color-default);
    background-color: var(--color-primary);
}

.MobileMenu__Item:not(.active)::before {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 20px;
    width: 50%;
    height: 2px;
    background-color: var(--color-default);
    transform: rotateY(90deg);
    transform-origin: left;
    transition: all linear 0.7s;
}

.MobileMenu__Item:not(.active)::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 20px;
    width: 50%;
    height: 2px;
    background-color: var(--color-default);
    transform: rotateY(90deg);
    transform-origin: right;
    transition: all linear 0.7s;
}

.MobileMenu__Item:not(.active):hover {
    color: var(--color-default);
    background-color: var(--color-alt-rgba-3);
}

.MobileMenu__Item:not(.active):hover::before,
.MobileMenu__Item:not(.active):hover::after {
    transform: rotateY(0);
}

@media (width <= 1024px) {
    .MobileMenu {
        display: grid;
    }
}
