.NavBar__Logo {
    display: flex;
    justify-self: start;
    align-self: center;
    font-size: clamp(24px, 4vw, 36px);
    font-weight: 600;
    line-height: 24px;
}

.NavBar__Logo a {
    display: flex;
    color: var(--color-alt);
}

.NavBar__Logo span {
    font-size: clamp(16px, 2vw, 20px);
}

.NavBar__Logo:hover a {
    color: var(--color-primary);
}

@media (width <= 1024px) {
    .NavBar__Logo {
        justify-self: center;
    }
}
