.Product {
    min-height: 250px;
    transition: var(--transition-fast);
    text-align: center;
    border: 1px solid var(--color-default);
    overflow: hidden;
}

.Product:hover {
    border: 1px solid var(--color-primary);
}

.Product__Img-Container {
    place-items: center;
    display: grid;
    position: relative;
    overflow: hidden;
    min-width: 100px;
    aspect-ratio: 1;
}

.ProductItem img {
    aspect-ratio: 1;
    width: 100%;
    object-fit: contain;
}

.Product__Sale {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    padding: 6px;
    background-color: var(--color-primary);
    font-size: 12px;
    line-height: 10px;
    color: var(--color-default);
}

.Product__Name {
    font-size: clamp(0.8rem, 1vw, 18px);
    font-weight: 500;
    line-height: 24px;
    color: var(--color-alt);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
}

.Product__Prices {
    display: flex;
    justify-content: center;
    gap: clamp(10px, 1vw, 20px);
}

.SalePrices {
    font-size: clamp(0.7rem, 1vw, 14px);
    font-weight: 400;
    line-height: 20px;
    color: var(--color-primary);
}

.Prices {
    font-size: clamp(0.6rem, 1vw, 14px);
    font-weight: 400;
    line-height: 20px;
    color: var(--color-text);
}

@media (width <= 1024px) {
    .Product {
        min-height: 220px;
    }
}
