.Product {
    min-height: 300px;
    transition: var(--transition-fast);
    text-align: center;
}

.Product:hover .ProductLink_Bg {
    top: 80%;
    backdrop-filter: blur(10px);
}

.Product__Img-Container {
    place-items: center;
    display: grid;
    position: relative;
    overflow: hidden;
}

.ProductItem img {
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;
}

.ProductLink_Bg {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 100%;
    width: 100%;
    transition: var(--transition-slow);
    padding: 5px;
}

.ProductLink_Bg i {
    color: var(--color-default);
    font-size: 22px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    transition: var(--transition-fast);
}

.ProductLink_Bg i:hover {
    color: var(--color-primary);
}

.Product__Sale {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    padding: 6px;
    background-color: var(--color-primary);
    font-size: 12px;
    line-height: 10px;
    color: var(--color-default);
}

.Product__Name {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-alt);
}

.Product__Prices {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.SalePrices {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-primary);
}

.Prices {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-text);
}
