.Product {
    min-height: 270px;
    transition: var(--transition-fast);
}

.Product:hover .AddToCart_Bg {
    top: 0;
}

.Product__Img-Container {
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.ProductItem img {
    width: 100%;
    aspect-ratio: 1;
}

.AddToCart_Bg {
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: top 0.3s ease-in-out;
}

.ProductLink,
.AddToCart {
    font-weight: 700;
    font-size: 18px;
    color: var(--color-default);
    border: none;
    width: 70px;
    height: 50px;
    transition: var(--transition-fast);
}

.ProductLink {
    display: grid;
    place-items: center;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    background-color: var(--color-default);
}

.ProductLink {
    color: var(--color-primary);
    text-decoration: none;
}

.AddToCart {
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    background-color: var(--color-primary);
}

.AddToCart:hover {
    text-decoration: underline;
}

.ProductLink:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.Product__Sale {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    line-height: 10px;
    padding: 6px;
    color: var(--color-default);
    background-color: var(--color-primary);
    z-index: 10;
}

.Product__Name {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-alt);
}

.Product__Prices {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.SalePrices {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-primary);
}

.Prices {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-text);
}
