.Product {
    min-height: 300px;
    transition: var(--transition-fast);
}

.Product:hover .ProductLink_Bg {
    top: 0;
}

.Product__Img-Container {
    place-items: center;
    display: grid;
    position: relative;
    overflow: hidden;
}

.ProductItem img {
    aspect-ratio: 1;
    width: 100%;
}

.ProductLink_Bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: var(--transition-slow);
    background-color: rgba(0, 0, 0, 0.3);
}

.ProductLink {
    width: 70px;
    height: 70px;
    transition: var(--transition-slow);
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-default);
}

.ProductLink {
    place-items: center;
    display: grid;
    background-color: var(--color-default);
}

.ProductLink {
    color: var(--color-primary);
    text-decoration: none;
}

.ProductLink:hover {
    color: var(--color-primary);
    text-decoration: underline;
    border-radius: 100%;
}

.Product__Sale {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    padding: 6px;
    background-color: var(--color-primary);
    font-size: 12px;
    line-height: 10px;
    color: var(--color-default);
}

.Product__Name {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-alt);
}

.Product__Prices {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.SalePrices {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-primary);
}

.Prices {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-text);
}
