.NotFoundPage {
    display: grid;
    place-items: center;
    gap: 50px;
}

.NotFoundPage__Content {
    text-align: center;
    font-size: clamp(24px, 10vw, 60px);
    font-weight: 900;
}

.NotFoundPage__Btn {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.NotFoundPage__Btn:hover {
    background-color: var(--color-icon);
}

.NotFoundPage__Btn:hover a {
    color: var(--color-default);
}

.NotFoundPage__Btn a {
    color: var(--color-alt);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
