.NewDetail__Item {
    display: grid;
    gap: 20px;
}

.NewDetail__Item img {
    margin: 0 auto;
    width: clamp(200px, 40vw, 600px);
    grid-column-start: 2;
}

.NewDetail__Item-Date {
    text-align: right;
    grid-row-start: 2;
}

.NewDetail__Item-Title {
    display: grid;
    place-items: center;
    grid-row-start: 1;
    grid-column-start: 1;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.NewDetail__Item-Content {
    grid-column-start: 1;
    grid-column-end: 3;
}

.NewDetail__Item-Btn {
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 500;
    grid-row-start: 1;
    grid-column-start: 1;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-default);
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .NewDetail__Item img {
        grid-column-start: 1;
    }

    .NewDetail__Item-Date {
        grid-row-start: 1;
        grid-column-start: 2;
    }

    .NewDetail__Item-Title {
        grid-row-start: 1;
        grid-column-start: 2;
    }

    .NewDetail__Item-Content {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .NewDetail__Item-Btn {
        justify-self: end;
        grid-column-start: 2;
        grid-row-start: 2;
    }
}

@media only screen and (max-width: 425px) {
    .NewDetail__Item img {
        grid-row-start: 3;
        grid-column-start: 2;
    }

    .NewDetail__Item-Date {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .NewDetail__Item-Title {
        grid-row-start: 1;
        grid-column-start: 2;
    }

    .NewDetail__Item-Content {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .NewDetail__Item-Btn {
        grid-column-start: 1;
        grid-row-start: 3;
    }
}
