.Shop {
    text-align: center;
    min-height: 592px;
}

.ShopProductContainer {
    margin-top: 10px;
}

.SearchForm > * {
    margin-bottom: 20px;
}

.NoItemImg {
    width: 300px;
    aspect-ratio: 1;
}

.NameFilterInput {
    font-size: 18px;
    line-height: 24px;
    width: clamp(280px, 50vw, 500px);
    padding: 10px;
    border: 1px solid var(--color-text);
    border-radius: 2px;
    outline: none;
    transition: var(--transiton-fast);
}

.NameFilterInput:focus {
    border: 1px solid var(--color-primary);
}

.FiltersInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.FiltersInputs * {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sortFilter {
    cursor: pointer;
}
