.Shop {
    position: relative;
    text-align: center;
    padding-top: 0;
}

.ProductAvailableCount {
    margin-top: 10px;
}

.NoItemImg {
    width: 349px;
    aspect-ratio: 1;
}

.SearchForm {
    position: sticky;
    top: 80px;
    background-color: var(--color-default);
    width: 100%;
    padding-block: 10px;
    z-index: 50;
}

.SearchForm fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.NameFilterInput {
    width: 280px;
    height: 30px;
    padding: 5px;
    border: 1px solid var(--color-text);
    border-radius: 2px;
    outline: none;
    transition: var(--transition-fast);
}

.NameFilterInput:focus {
    border: 1px solid var(--color-primary);
}

.FiltersInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    transition: var(--transition-fast);
}

.FiltersInputs * {
    display: flex;
    gap: 10px;
    align-items: center;
}

.FiltersInputs label,
.FiltersInputs input,
.FiltersInputs select {
    text-align: center;
    cursor: pointer;
}

.FiltersInputs option:disabled {
    background-color: var(--color-icon);
    color: var(--color-default);
}

.ToggleFilter__Btn {
    display: none;
    width: 50px;
    justify-self: center;
    padding: 3px;
}

@media (width <= 520px) {
    .SearchForm fieldset {
        display: grid;
    }

    .NameFilterInput {
        justify-self: center;
    }

    .FiltersInputs {
        max-height: 0;
        overflow: hidden;
        display: grid;
        justify-self: end;
        justify-items: end;
    }

    .ToggleFilter__Btn {
        display: block;
    }
}

@media (height <= 390px) {
    .SearchForm {
        position: static;
    }

    .ProductAvailableCount {
        display: none;
    }
}
