.Shop {
    position: relative;
    text-align: center;
}

.ProductAvailableCount {
    margin-top: 10px;
}

.NoItemImg {
    aspect-ratio: 1;
    width: 220px;
    min-height: 250px;
    object-fit: contain;
}

.ToggleFilter__Btn {
    display: none;
    width: fit-content;
    justify-self: end;
    padding: 5px;
    border-radius: var(--border-s);
    color: var(--color-default);
}

.SearchForm {
    width: 100%;
    padding: 5px 20px;
    transition: var(--transition-fast);
}

.SearchForm fieldset,
.FiltersInputs,
.FiltersInputs * {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: var(--transition-fast);
}

.FiltersInputs label,
.FiltersInputs select {
    cursor: pointer;
    text-align: center;
}

.FiltersInputs label:hover {
    color: var(--color-primary);
}

.FiltersInputs option:disabled {
    background-color: var(--color-icon);
    color: var(--color-default);
}

.NameFilterInput {
    outline: none;
    width: 280px;
    padding: 5px;
    margin: 5px;
    transition: var(--transition-fast);
    border: 1px solid var(--color-primary);
    border-radius: var(--border-s);
}

.NameFilterInput:focus-visible {
    outline: none;
    box-shadow: 0 0 2px 2px var(--color-primary-rgba);
}

@media (width <= 1024px) {
    .NoItemImg {
        min-height: 220px;
    }
}

@media (width <= 768px) {
    .ProductAvailableCount {
        display: none;
    }

    .SearchForm fieldset {
        display: grid;
        gap: 5px;
    }

    .FiltersInputs {
        overflow: hidden;
        max-height: 0;
    }

    .ToggleFilter__Btn {
        display: block;
    }
}
