.Shop {
    position: relative;
    padding-top: 0;
    text-align: center;
}

.ProductAvailableCount {
    margin-top: 10px;
}

.NoItemImg {
    aspect-ratio: 1;
    width: 300px;
}

.ToggleFilter__Btn {
    justify-self: center;
    display: none;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 50px;
    color: var(--color-default);
}

.SearchForm {
    width: 100%;
    padding: 10px;
    background-color: var(--color-default);
}

.SearchForm fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.FiltersInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    transition: var(--transition-fast);
}

.FiltersInputs * {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: var(--transition-fast);
}

.FiltersInputs label,
.FiltersInputs select {
    cursor: pointer;
    text-align: center;
}

.FiltersInputs label:hover {
    color: var(--color-primary);
}

.FiltersInputs option:disabled {
    background-color: var(--color-icon);
    color: var(--color-default);
}

.NameFilterInput {
    outline: none;
    width: 280px;
    margin-top: 3px;
    padding: 7px;
    transition: var(--transition-fast);
    border: 1px solid var(--color-primary);
    border-radius: 50px;
}

.NameFilterInput:focus-visible {
    outline: none;
    box-shadow: 0 0 2px 2px var(--color-primary-rgba);
}

@media (width <= 768px) {
    .ProductAvailableCount {
        display: none;
    }

    .SearchForm fieldset {
        display: grid;
    }

    .NameFilterInput {
        justify-self: center;
    }

    .FiltersInputs {
        overflow: hidden;
        max-height: 0;
    }

    .ToggleFilter__Btn {
        display: block;
    }
}
