.Shop {
    position: relative;
    text-align: center;
    padding-top: 20px;
}

.ShopProductContainer {
    padding-top: 10px;
}

.ProductAvailableCount {
    padding-top: 10px;
}

.NoItemImg {
    width: 325px;
    aspect-ratio: 1;
}

.SearchForm {
    position: sticky;
    top: 86px;
    display: grid;
    justify-content: center;
    background-color: var(--color-default);
    width: 100%;
    z-index: 50;
}

.SearchForm fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.NameFilterInput {
    width: 300px;
    height: 35px;
    padding: 5px;
    border: 1px solid var(--color-text);
    border-radius: 2px;
    outline: none;
    transition: var(--transition-fast);
}

.NameFilterInput:focus {
    border: 1px solid var(--color-primary);
}

.FiltersInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.FiltersInputs * {
    display: flex;
    gap: 10px;
    align-items: center;
}

.FiltersInputs label,
.FiltersInputs input,
.FiltersInputs select {
    text-align: center;
    cursor: pointer;
}

.FiltersInputs option:disabled {
    background-color: var(--color-icon);
    color: var(--color-default);
}

@media (width <= 1024px) {
    .SearchForm {
        top: 82px;
    }
}
