.Shop {
    position: relative;
    text-align: center;
}

.ProductAvailableCount {
    margin-top: 10px;
}

.NoItemImg {
    aspect-ratio: 1;
    width: 200px;
}

.ToggleFilter__Btn {
    justify-self: end;
    display: none;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: var(--color-default);
}

.SearchForm {
    width: 100%;
    padding: 5px;
    background-color: var(--color-default);
    z-index: 11;
}

.SearchForm fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.FiltersInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    transition: var(--transition-fast);
}

.FiltersInputs * {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: var(--transition-fast);
}

.FiltersInputs label,
.FiltersInputs select {
    cursor: pointer;
    text-align: center;
}

.FiltersInputs label:hover {
    color: var(--color-primary);
}

.FiltersInputs option:disabled {
    background-color: var(--color-icon);
    color: var(--color-default);
}

.NameFilterInput {
    outline: none;
    width: 280px;
    margin-top: 5px;
    padding: 5px;
    transition: var(--transition-fast);
    border: 1px solid var(--color-primary);
    border-radius: 10px;
}

.NameFilterInput:focus-visible {
    outline: none;
    box-shadow: 0 0 2px 2px var(--color-primary-rgba);
}

@media (width <= 768px) {
    .ProductAvailableCount {
        display: none;
    }

    .SearchForm {
        position: fixed;
        bottom: 0;
    }

    .SearchForm fieldset {
        display: grid;
    }

    .FiltersInputs {
        overflow: hidden;
        max-height: 0;
    }

    .ToggleFilter__Btn {
        display: block;
    }
}
