.Shop {
    position: relative;
    text-align: center;
    padding-top: 0;
}

.ProductAvailableCount {
    margin-top: 10px;
}

.NoItemImg {
    width: 300px;
    aspect-ratio: 1;
}

.SearchForm {
    background-color: var(--color-default);
    width: 100%;
    padding: 10px 0 5px;
    z-index: 50;
    animation: pop-in 1s ease-in-out forwards;
}

@keyframes pop-in {
    from {
        opacity: 0;
        transform: rotateY(90deg);
    }
    to {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

.SearchForm fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.NameFilterInput {
    width: 280px;
    height: 30px;
    padding: 5px;
    border: 1px solid var(--color-text);
    border-radius: 2px;
    outline: none;
    transition: var(--transition-fast);
}

.NameFilterInput:focus {
    border: 1px solid var(--color-primary);
}

.FiltersInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    transition: var(--transition-fast);
}

.FiltersInputs * {
    display: flex;
    gap: 10px;
    align-items: center;
}

.FiltersInputs label,
.FiltersInputs input,
.FiltersInputs select {
    text-align: center;
    cursor: pointer;
}

.FiltersInputs option:disabled {
    background-color: var(--color-icon);
    color: var(--color-default);
}

.ToggleFilter__Btn {
    display: none;
    width: 280px;
    justify-self: center;
}

@media (width <= 768px) {
    .ProductAvailableCount {
        display: none;
    }

    .SearchForm fieldset {
        display: grid;
    }

    .NameFilterInput {
        justify-self: center;
    }

    .FiltersInputs {
        max-height: 0;
        overflow: hidden;
    }

    .ToggleFilter__Btn {
        display: block;
    }
}
