.Cart-Item_Form {
    display: grid;
    gap: 20px;
    font-family: var(--font-default);
}

.Purchased {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    color: var(--color-default);
    transition: all linear 1s;
    opacity: 1;
    z-index: 10;
}

.NotPurchased {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    color: var(--color-default);
    transition: all linear 0.7s;
    opacity: 0;
    z-index: -1;
}

.Purchased__Notify {
    display: grid;
    place-items: center;
    font-size: 26px;
    font-weight: 700;
    width: clamp(300px, 50vw, 1000px);
    height: 300px;
    background: rgba(0, 0, 0, 0.9);
}

.Product-In-Cart {
    text-align: center;
    font-weight: 500;
}

.Cart__Layout {
    position: relative;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 30px;
}

.Cart-Item-List {
    display: grid;
    gap: 20px;
}

.Cart-Item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    border-bottom: 1px solid var(--color-primary);
    gap: 10px;
}

.Cart-Item img {
    justify-self: start;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    padding: 5px;
}

.Cart-Item_Name {
    align-self: start;
    grid-row: 1;
    grid-column: 2;
    font-size: clamp(14px, 3vw, 20px);
    font-weight: 500;
}

.Cart-Item_Price {
    grid-row: 1;
    grid-column: 2;
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 500;
    border-left: 1px solid var(--color-primary);
    padding: 5px;
}

.Cart-Item_Quantity {
    justify-self: end;
    grid-row: 1;
    grid-column: 2;
    font-weight: 600;
    border-bottom: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
    padding: 5px;
}

.Cart-Item_Quantity input {
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 600;
    width: 60px;
    height: 30px;
    text-align: center;
}

.Cart-Item_Cost {
    align-self: flex-end;
    grid-row: 1;
    grid-column: 2;
    text-align: right;
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 500;
    background: var(--color-primary);
    color: var(--color-default);
    padding: 5px;
}

.Remove_Item {
    justify-self: center;
    align-self: center;
    grid-column: 3;
    font-family: var(--font-default);
    font-size: clamp(12px, 4vw, 16px);
    font-weight: 600;
    background-color: var(--color-alt);
    color: var(--color-default);
    width: 120px;
    padding: 10px;
    border: none;
    box-shadow: 2px 2px 1px 0px var(--color-alt);
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.Remove_Item:hover {
    background: var(--color-text);
}

.Purchase-Check {
    position: sticky;
    top: 25%;
    height: fit-content;
}

.Total-Price {
    font-weight: 600;
    margin-bottom: 20px;
}

.Buy_Btn {
    font-family: var(--font-default);
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    background-color: var(--color-primary);
    color: var(--color-default);
    border: none;
    border-radius: 5px;
    height: fit-content;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.Buy_Btn:hover {
    box-shadow: 0 0 2px 3px var(--color-primary);
}

.Buy_Btn:disabled {
    background: var(--color-text);
    box-shadow: none;
    pointer-events: none;
}

@media only screen and (max-width: 768px) {
    .Cart-Item img {
        width: 150px;
        height: 150px;
    }

    .Cart-Item_Name {
        grid-column: 2/4;
    }

    .Cart-Item_Price {
        align-self: end;
        grid-area: 2 / 2;
    }

    .Cart-Item_Quantity {
        grid-area: 2 / 3;
        border-bottom: none;
    }

    .Cart-Item_Cost {
        grid-area: 1 / 2 / 1 / 4;
    }

    .Remove_Item {
        grid-area: 2 / 1;
    }
}

@media only screen and (max-width: 475px) {
    .Cart__Layout {
        display: flex;
        flex-wrap: wrap;
    }

    .Cart-Item img {
        justify-self: center;
        width: 100px;
        height: 100px;
    }
}
