.SignIn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background: url('../../../../assets/img/HeroBanner2.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.User_List {
    display: grid;
    place-items: center;
    gap: 10px;
    width: clamp(280px, 80vw, 400px);
    transition: var(--transition-fast);
    padding: 10px;
    border: 1px solid var(--color-alt);
    border-bottom-right-radius: 20px;
    backdrop-filter: blur(50px);
}

.User_List:hover {
    background: var(--color-default);
    box-shadow: 5px 5px 10px 5px var(--color-primary-rgba-7);
}

.User_List ol {
    display: grid;
    min-height: 174px;
}

.SignIn__Form {
    width: clamp(280px, 80vw, 400px);
    padding: 20px;
    transition: var(--transition-fast);
    border: 1px solid var(--color-alt);
    border-top-left-radius: 20px;
    backdrop-filter: blur(50px);
}

.SignIn__Form div,
.SignIn__Form div a {
    color: var(--color-alt);
}

.SignIn__Form:hover,
.SignIn__Form:has(input:focus) {
    background: var(--color-default);
    box-shadow: -5px -5px 10px 5px var(--color-primary-rgba-7);
}

.SignIn__Form-Title {
    min-height: 60px;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary);
    text-align: center;
}

.ErrorMessage {
    margin-bottom: 20px;
}

.SignIn__Form-Fieldset {
    display: grid;
    gap: 20px;
}

.SignIn__Form-InputContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.SignIn__Form-InputContainer div {
    display: flex;
    flex-grow: 1;
    position: relative;
    width: min(100%, 273px);
}

.SignIn__Form-InputContainer label {
    cursor: pointer;
}

.SignIn__Form-InputContainer label svg path,
.SignIn__Form-InputContainer label svg circle {
    transition: var(--transition-fast);
}

.SignIn__Form-InputContainer label:hover svg path {
    stroke: var(--color-primary);
}

.SignIn__Form-InputContainer label:hover svg circle {
    fill: var(--color-primary);
}

.SignIn__Form-InputContainer input {
    flex-grow: 1;
    width: min(100%, 273px);
    height: 40px;
    padding: 0 5px;
    transition: var(--transition-fast);
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    border-radius: var(--border-s);
    font-size: 16px;
    font: small-caption;
}

.SignInInputFocused {
    position: absolute;
    transition: var(--transition-fast);
    transform: translate3d(15px, -12px, -10px);
    font-size: 14px;
    color: var(--color-primary);
    background-color: var(--color-default);
    padding-inline: 5px;
    z-index: 0;
}

.SignInInputNotFocused {
    position: absolute;
    transition: var(--transition-fast);
    transform: translate3d(5px, 7px, 0);
    font-size: 16px;
    color: var(--color-text);
    background-color: none;
    padding-inline: none;
    z-index: -1;
}

.SignIn__Form-InputContainer input:invalid {
    outline: 1px solid var(--color-primary);
    border: none;
}

.SignIn__Form-InputContainer input:valid {
    outline: 1px solid lightgreen;
    border: none;
}

.SignIn__Form-InputContainer .showpassicon {
    position: absolute;
    top: 8px;
    right: 6px;
    cursor: pointer;
}

.SignIn__Form-InputContainer .showpassicon svg path {
    transition: var(--transition-fast);
}

.SignIn__Form-InputContainer .showpassicon:hover svg path {
    cursor: pointer;
    fill: var(--color-primary);
}

.SignIn__Form-InputContainer .showpassicon::before {
    place-items: center;
    display: grid;
    width: 20px;
}

.SignIn__Form-Remember {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

.SignIn__Form-Remember * {
    cursor: pointer;
}

.SignIn__Form-Remember label {
    transition: var(--transition-fast);
}

.SignIn__Form-Remember label:hover {
    color: var(--color-primary);
}

.SignIn__Form-Link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.SignIn__Form-Link a {
    transition: var(--transition-fast);
    color: var(--color-text);
}

.SignIn__Form-Link a:hover {
    color: var(--color-primary);
}

.SignIn__Btn {
    width: 100%;
    padding: 5px;
    transition: var(--transition-fast);
    border-radius: var(--border-s);
    border: none;
    font-size: 20px;
    color: var(--color-default);
    background-color: var(--color-primary-rgba-7);
}

.SignIn__Btn:hover:not(:disabled) {
    background-color: var(--color-primary);
}

.SignIn__Btn:disabled {
    color: var(--color-default);
    background-color: var(--color-icon);
}

.SignIn__Btn:disabled:hover {
    cursor: not-allowed;
}

.SignIn__Form-OtherDecor {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.SignIn__Form-OtherDecor div {
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-icon);
}

.SignIn__Form-OtherDecor span {
    padding-inline: 20px;
}

.SignIn__Form-OtherSignIn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.SignIn__Form-OtherSignIn div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 5px;
    transition: var(--transition-fast);
    border: 1px solid var(--color-icon);
    border-radius: var(--border-s);
}

.SignIn__Form-OtherSignIn div:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.SignIn__Form-OtherSignIn img {
    aspect-ratio: 1;
    width: 40px;
    margin-right: 10px;
}

.User_List .page-item:not(.disable) .page-link {
    color: var(--color-primary);
}

.User_List .page-item:not(.disable) .page-link:hover {
    border: 1px solid var(--color-primary);
}

.User_List .page-item.disabled .page-link {
    background-color: var(--color-primary);
    color: var(--color-default);
}

.User_List ol li {
    font-size: clamp(12px, 2vw, 16px);
}

@media (width < 860px) {
    .SignIn__Form {
        border-top-right-radius: 20px;
    }

    .SignIn__Form:hover,
    .SignIn__Form:has(input:focus) {
        box-shadow: 0 0 5px 5px var(--color-primary-rgba-7);
    }

    .User_List {
        border-bottom-left-radius: 20px;
    }

    .User_List:hover {
        box-shadow: 0 0 5px 5px var(--color-primary-rgba-7);
    }
}
