.SignIn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.User_List {
    place-items: center;
    aspect-ratio: 1;
    display: grid;
    width: clamp(280px, 80vw, 400px);
    transition: var(--transition-fast);
    border: 1px solid var(--color-alt);
    border-bottom-right-radius: 50px;
}

.User_List:hover {
    box-shadow: 5px 5px 10px 5px var(--color-primary-rgba);
}

.User_List ol,
.User_List ol li {
    padding: 0;
}

.SignIn__Form {
    width: clamp(280px, 80vw, 400px);
    padding: 20px;
    transition: var(--transition-fast);
    border: 1px solid var(--color-alt);
    border-top-left-radius: 50px;
}

.SignIn__Form:hover,
.SignIn__Form:has(input:focus) {
    box-shadow: -5px -5px 10px 5px var(--color-primary-rgba);
}

.SignIn__Form-Title {
    min-height: 60px;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-primary);
    text-align: center;
}

.SignIn__Form-Fieldset {
    display: grid;
    gap: 20px;
}

.SignIn__Form-InputContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.SignIn__Form-InputContainer label {
    min-width: 20px;
}

.SignIn__Form-Remember label {
    text-align: right;
}

.SignIn__Form-InputContainer div {
    display: flex;
    flex-grow: 1;
    position: relative;
    width: min(100%, 273px);
}

.SignIn__Form-InputContainer input {
    flex-grow: 1;
    width: min(100%, 273px);
    height: 40px;
    padding: 0 5px;
    transition: var(--transition-fast);
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    border-radius: 2px;
    font-size: 16px;
    font: small-caption;
}

.SignIn__Form-InputContainer input:hover {
    outline: 1px solid var(--color-primary);
    border: none;
}

.SignIn__Form-InputContainer input:focus {
    outline: 1px solid var(--color-primary);
    border: none;
}

.SignIn__Form-InputContainer .showpassicon {
    position: absolute;
    top: 10px;
    right: 6px;
}

.SignIn__Form-InputContainer .showpassicon:hover {
    cursor: pointer;
}

.SignIn__Form-InputContainer .showpassicon::before {
    place-items: center;
    display: grid;
    width: 20px;
}

.SignIn__Form-Remember {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

.SignIn__Form-Remember * {
    cursor: pointer;
}

.SignIn__Form-Remember label {
    transition: var(--transition-fast);
}

.SignIn__Form-Remember label:hover {
    color: var(--color-primary);
}

.SignIn__Form-Link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.SignIn__Form-Link a {
    transition: var(--transition-fast);
    color: var(--color-text);
    text-decoration: none;
}

.SignIn__Form-Link a:hover {
    color: var(--color-primary);
}

.SignIn__Btn {
    width: 100%;
    padding: 5px;
    transition: var(--transition-fast);
    background-color: transparent;
    border-radius: 3px;
    font-size: 20px;
    color: var(--color-default);
}

.SignIn__Btn:hover {
    background-color: var(--color-primary);
}

.SignIn__Btn:disabled {
    background-color: transparent;
    color: var(--color-text);
}

.SignIn__Btn:disabled:hover {
    cursor: not-allowed;
}

.SignIn__Form-OtherDecor {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.SignIn__Form-OtherDecor div {
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-icon);
}

.SignIn__Form-OtherDecor span {
    padding-inline: 20px;
}

.SignIn__Form-OtherSignIn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.SignIn__Form-OtherSignIn div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 5px;
    transition: var(--transition-fast);
    border: 1px solid var(--color-icon);
    border-radius: 2px;
}

.SignIn__Form-OtherSignIn div:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.SignIn__Form-OtherSignIn img {
    aspect-ratio: 1;
    width: 40px;
    margin-right: 10px;
}

.User_List .page-item.disabled .page-link {
    background-color: #0d6efd;
    color: #ffffff;
}

.User_List ol li {
    font-size: clamp(12px, 4vw, 16px);
}

@media (width < 860px) {
    .SignIn__Form {
        border-top-right-radius: 50px;
    }

    .SignIn__Form:hover,
    .SignIn__Form:has(input:focus) {
        box-shadow: 0 0 5px 5px var(--color-primary-rgba);
    }

    .User_List {
        border-bottom-left-radius: 50px;
    }

    .User_List:hover {
        box-shadow: 0 0 5px 5px var(--color-primary-rgba);
    }
}
