.FaqPage__Title {
    background-color: var(--color-primary);
    color: var(--color-default);
    font-size: clamp(24px, 10vw, 50px);
    text-align: center;
    margin-bottom: 50px;
}

.FaqPage__Content .accordion-button {
    font-size: 24px;
    font-weight: 600;
}

.FaqPage__Content .accordion-button.collapsed:hover {
    box-shadow: 0 0 3px 3px var(--color-primary-rgba);
}

.FaqPage__Content .accordion-button:not(.collapsed) {
    color: var(--color-default);
    background-color: var(--color-primary);
}

.FaqPage__Content .accordion-body {
    text-align: justify;
}
