.Product__Banner {
    width: clamp(300px, 40vw, 500px);
    padding: 10px;
}

.owl-item.active .ProductBanner__Title {
    -webkit-animation: tilt-in-fwd-tr 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: tilt-in-fwd-tr 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 0.5s;
}

.ProductBanner__Title {
    font-size: clamp(20px, 3vw, 26px);
    font-weight: 600;
    line-height: 42px;
    color: var(--color-primary);
    opacity: 0;
}

.owl-item.active .ProductBanner__Name {
    -webkit-animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-in-right 01s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 0.75s;
}

.ProductBanner__Name {
    font-size: clamp(28px, 3vw, 56px);
    font-weight: 600;
    line-height: 72px;
    opacity: 0;
}

.owl-item.active .ProductBanner__Des {
    -webkit-animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 1s;
}

.ProductBanner__Des {
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    color: var(--color-text);
    opacity: 0;
}

.owl-item.active .Product__Btn {
    -webkit-animation: slide-in-fwd-br 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-in-fwd-br 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 1.25s;
}

.Product__Btn {
    display: inline-block;
    padding: 13px 25px;
    margin-top: 30px;
    transition: var(--transition-fast);
    background: linear-gradient(to right, var(--color-primary), #ff9a3c);
    background-size: 200%;
    cursor: pointer;
    border: none;
    font-weight: 500;
    color: var(--color-default);
    opacity: 0;
    transition: var(--transition-slow);
}

.Product__Btn:hover {
    background-position: -100%;
    color: var(--color-default);
}

@media (width < 768px) {
    .owl-item.active .Product__Banner {
        animation: blur-in 1s linear both;
        animation-delay: 1.5s;
    }

    @keyframes blur-in {
        from {
            backdrop-filter: blur(0px);
        }
        to {
            backdrop-filter: blur(15px);
        }
    }

    .ProductBanner__Name,
    .ProductBanner__Des {
        line-height: 30px;
    }
}

/*Animista*/

/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-fwd-tr {
    0% {
        -webkit-transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px);
        transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px);
    }
    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0);
        opacity: 1;
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    }
}
@keyframes tilt-in-fwd-tr {
    0% {
        -webkit-transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
            skew(-35deg, 10deg);
        transform: rotateY(20deg) rotateX(35deg) translate(30px, -30px)
            skew(-35deg, 10deg);
    }
    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0);
        opacity: 1;
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    }
}

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
        transform: translateX(0);
    }
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
        transform: translateY(0);
    }
}

/**
 * ----------------------------------------
 * animation slide-in-fwd-br
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-br {
    0% {
        -webkit-transform: translateZ(-40px) translateY(80px) translateX(50px);
        transform: translateZ(-40px) translateY(80px) translateX(50px);
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0);
        opacity: 1;
        transform: translateZ(0) translateY(0) translateX(0);
    }
}
@keyframes slide-in-fwd-br {
    0% {
        -webkit-transform: translateZ(-40px) translateY(80px) translateX(50px);
        transform: translateZ(-40px) translateY(80px) translateX(50px);
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0);
        opacity: 1;
        transform: translateZ(0) translateY(0) translateX(0);
    }
}
