.Product__Banner {
    width: clamp(300px, 40vw, 500px);
    padding: 10px;
}

.ProductBanner__Title {
    font-size: clamp(20px, 3vw, 26px);
    font-weight: 600;
    line-height: 42px;
    color: var(--color-primary);
}

.ProductBanner__Name {
    font-size: clamp(28px, 3vw, 56px);
    font-weight: 600;
    line-height: 72px;
}

.ProductBanner__Des {
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 30px;
    color: var(--color-text);
}

.Product__Btn {
    position: relative;
    display: inline-block;
    font-weight: 500;
    background-color: var(--color-primary);
    padding: 13px 25px;
    border: none;
    cursor: pointer;
    transition: var(--transiton-fast);
}

.Product__Btn a {
    text-decoration: none;
    color: var(--color-default);
}

.Product__Btn:hover {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-start-end-radius: 75%;
    border-end-start-radius: 75%;
    box-shadow: 2px 2px 5px 2px var(--color-text);
}

@media (width < 768px) {
    .ProductBanner__Name,
    .ProductBanner__Des {
        color: var(--color-default);
        line-height: 30px;
    }
}
