.FooterBot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.FooterIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.FooterIcons a {
    transition: var(--transition-fast);
}

.FooterIcons a:hover {
    rotate: 20deg;
}

.SocialIcons img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.CopyRight {
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.CopyRight span {
    color: var(--color-primary);
}

.PaymentIcons img {
    width: 30px;
}

@media (width > 768px) {
    .FooterBot {
        justify-content: space-between;
        align-items: center;
    }
}
