.owl-control .item {
    width: 318px;
}

.owl-control .item img {
    aspect-ratio: 1;
}

.Good4MeSilder {
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .owl-control .item {
        width: 200px;
    }
}
