.ContactPage {
    padding-top: 20px;
}

.Contact__Content {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    font-weight: 500;
}

.Contact-ShopName {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-primary);
}

.Contact-ShopInfo a {
    color: var(--color-primary);
    white-space: pre;
}

.Contact-ShopInfo a:hover {
    text-decoration: underline;
}

.Contact-Form form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 20px;
    min-width: 300px;
}

.Contact-Form form input {
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: none;
    border: 1px solid var(--color-primary);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
}

.Contact-Form-Deco {
    display: grid;
    place-items: center;
    font-size: 40px;
    padding: 20px;
    background-color: var(--color-primary);
    color: var(--color-default);
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    grid-row-start: 2;
    grid-row-end: 4;
}

.Issue {
    font-size: 16px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    padding: 10px;
    outline: none;
    border: none;
    border: 1px solid var(--color-primary);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    resize: none;
}

.Contact-Btn {
    font-size: 16px;
    font-weight: 600;
    justify-self: end;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    width: 70%;
    padding: 10px;
    background-color: rgba(246, 98, 62, 0.7);
    color: var(--color-default);
    border: none;
    border-radius: 20px;
    transition: var(--transiton-fast);
    cursor: pointer;
}

.Contact-Btn:hover {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    background: var(--color-primary);
}

.Contact__map iframe {
    width: 100%;
    height: 400px;
    margin-top: 30px;
}

@media (width < 768px) {
    .Contact-Form form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .Contact-Form-Deco {
        place-items: start;
        font-size: 30px;
        padding: 10px;
        grid-row-start: 6;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .Issue {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
    }

    .Contact-Btn {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 6;
        width: 40%;
        background-color: var(--color-text);
        color: var(--color-default);
        border-radius: 0;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 20px;
    }

    .Contact-Btn:hover {
        background-color: rgba(255, 255, 255, 0.5);
        color: var(--color-alt);
        border-top-right-radius: 10px;
        border-bottom-left-radius: 20px;
    }
}
