.ContactPage {
    padding-top: 20px;
}

.Contact__Content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    font-weight: 500;
}

.Contact-ShopName {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-primary);
}

.Contact-ShopInfo a {
    color: var(--color-primary);
    white-space: pre;
}

.Contact-ShopInfo a:hover {
    text-decoration: underline;
}

.Contact-Form form {
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 300px;
}

.Contact-Form form input {
    outline: none;
    padding: 10px;
    border: none;
    font-size: 16px;
}

.Contact-Form form input:nth-child(2) {
    border-top-left-radius: 10px;
}

.Contact-Form form input:nth-child(4) {
    border-top-right-radius: 10px;
}

.Contact-Form-Deco {
    place-items: center;
    display: grid;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 20px;
    background-color: var(--color-primary);
    border-bottom-left-radius: 10px;
    font-size: 40px;
    color: var(--color-default);
    text-align: center;
}

.Issue {
    outline: none;
    resize: none;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 10px;
    border: none;
    font-size: 16px;
}

.Contact-Btn {
    justify-self: end;
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 70%;
    padding: 10px;
    transition: var(--transition-fast);
    background-color: var(--color-icon);
    cursor: pointer;
    border: none;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    font-weight: 600;
}

.Contact-Btn:hover {
    background-color: var(--color-primary);
    color: var(--color-default);
}

.Contact__map iframe {
    width: 100%;
    height: 400px;
    margin-top: 30px;
}

@media (width < 768px) {
    .Contact-Form form {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .Contact-Form-Deco {
        place-items: start;
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 1;
        padding: 10px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 0;
        font-size: 30px;
    }

    .Contact-Form form input:nth-child(4) {
        border-top-right-radius: 0;
    }

    .Issue {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .Contact-Btn {
        grid-row-start: 5;
        grid-column-start: 1;
        grid-column-end: 1;
        width: 40%;
        border: 2px solid var(--color-alt);
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        color: var(--color-default);
    }

    .Contact-Btn:hover {
        background-color: transparent;
    }
}
