.WholesaleLayout {
    display: grid;
}

.Wholesale h2 {
    text-align: center;
}

.ToggleFilter {
    width: fit-content;
    margin-bottom: 20px;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
}

.Wholesale__Product-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.Wholesale__Product-Container
    .ProductSkeleton
    span:nth-child(2)
    .ProductSkeleton__Content:first-child {
    width: 100%;
}

.Wholesale__Product-Container
    .ProductSkeleton
    span:nth-child(2)
    .ProductSkeleton__Content:nth-child(3) {
    width: 70px;
}

.Wholesale__Product-Container
    .ProductSkeleton
    span:nth-child(2)
    .ProductSkeleton__Content:nth-child(5) {
    width: 90px;
}

.Wholesale__NoItem {
    aspect-ratio: 1;
    width: 298px;
}

.Wholesale__Filter {
    margin-inline: auto;
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
    border: 1px solid var(--color-primary);
    text-align: center;
}

.Wholesale__Filter-Container {
    scrollbar-gutter: stable;
    overflow-y: hidden;
    padding: 0 10px;
    transition: max-height 0.3s ease-in-out;
}

.Wholesale__Filter-Container::-webkit-scrollbar {
    width: 5px;
}

.Wholesale__Filter-Container::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

@keyframes showFilter {
    0% {
        max-height: 0;
        opacity: 0;
    }
    50% {
        max-height: 220px;
    }
    100% {
        opacity: 1;
        overflow-y: scroll;
        max-height: 220px;
    }
}

@keyframes hideFilter {
    0% {
        max-height: 220px;
        opacity: 1;
    }
    50% {
        overflow-y: hidden;
        max-height: 0;
    }
    100% {
        opacity: 0;
        max-height: 0;
    }
}

.Wholesale__CategoryFilter__List,
.Wholesale__BrandFilter__List {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
    padding: 0;
}

.Wholesale__CategoryFilter__List span,
.Wholesale__BrandFilter__List span {
    font-size: 20px;
    font-weight: 700;
}

.Wholesale__CategoryFilter__List li,
.Wholesale__BrandFilter__List li {
    position: relative;
}

.Wholesale__CategoryFilter__List button,
.Wholesale__BrandFilter__List button {
    min-width: 40px;
    min-height: 40px;
    padding: 5px;
    transition: var(--transition-fast);
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.Wholesale__CategoryFilter__List button:hover,
.Wholesale__BrandFilter__List button:hover {
    background-color: var(--color-icon);
    color: var(--color-default);
}
