.Breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
}

.CrumbItem a {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: var(--transition-fast);
    font-size: 20px;
    line-height: 32px;
    color: var(--color-alt);
}

.CrumbItem img {
    width: 8px;
    height: 14px;
}

.CrumbItem:last-child a {
    cursor: default;
    color: var(--color-text);
}

.CrumbItem:last-child svg {
    display: none;
}

.CrumbItem:hover a {
    color: var(--color-primary);
    text-decoration: underline;
}

.CrumbItem:last-child:hover a {
    color: var(--color-text);
    text-decoration: none;
}
