:root {
    --img-width: 280px;
}

.Control {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, clamp(280px, 40vw, 400px));
    padding: 120px 60px;
    background-image: url(../../../../../assets/img/controlbg.webp);
}

.Control__Content {
    width: 100%;
}

.Cotrol__Content-Title {
    font-size: clamp(26px, 4vw, 50px);
    font-weight: 600;
    line-height: 72px;
    letter-spacing: 3px;
}

.Cotrol__Content-Text {
    margin: 17px 0 34px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: var(--color-text);
}

.Cotrol__Content-Btn {
    padding: 18px 45px 13px 45px;
    transition: var(--transition-fast);
    background-color: transparent;
    cursor: pointer;
    border: 2px solid var(--color-primary);
    font-weight: 500;
    line-height: 25px;
}

.Cotrol__Content-Btn:hover {
    background-color: var(--color-primary);
    color: var(--color-default);
}

.Control__Img {
    display: grid;
    justify-content: center;
    gap: 20px;
}

.Control__Img * {
    object-fit: cover;
}

.Control__Img-1,
.Control__Img-2 {
    width: var(--img-width);
    height: calc(var(--img-width) / 4 * 3);
}

.Control__Img-3 {
    width: var(--img-width);
    height: calc(var(--img-width) / 4 * 3 * 2 + 20px);
}

@media (width > 550px) {
    :root {
        --img-width: 240px;
    }

    .Control {
        grid-template-columns: 1fr;
    }

    .Control__Img {
        grid-template-rows: repeat(2, calc(var(--img-width) / 4 * 3));
        grid-template-columns: repeat(2, var(--img-width));
    }

    .Control__Img-3 {
        grid-area: 1 / 2;
    }
}

@media (width > 1024px) {
    .Control {
        grid-template-columns: 1fr 1fr;
    }
}
