.FooterTop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.FooterTop a:hover {
    text-decoration: underline;
}

.FooterTop_Item1,
.FooterTop_Item2 {
    text-align: center;
}

.FooterTop_Item1-Logo {
    display: block;
}

.FooterTop_Item1-content {
    width: clamp(280px, 50vw, 325px);
    font-weight: 400;
    line-height: 26px;
}

.FooterTop_Item2-title {
    font-size: 26px;
    font-weight: 500;
    line-height: 26px;
}

.FooterTop_Item2-content {
    width: clamp(280px, 50vw, 350px);
    margin: 0 auto;
    padding: 11px 0 19px 0;
    font-weight: 400;
    line-height: 26px;
}

.FooterTop_Item2-form {
    display: flex;
    justify-content: space-between;
    width: clamp(280px, 50vw, 570px);
    padding: 13px 0;
    border-bottom: 2px solid var(--color-alt);
    text-align: justify;
}

.FooterTop_Item2-input,
.FooterTop_Item2-input::placeholder {
    outline: none;
    width: 100%;
    background: none;
    border: none;
    font-weight: 400;
    line-height: 26px;
    color: var(--color-alt);
}

.FooterTop_Item2-btn {
    background: none;
    cursor: pointer;
    border: none;
    font-weight: 600;
    line-height: 26px;
    color: var(--color-primary);
    text-align: right;
}

.FooterTop_Item3 {
    min-width: 300px;
}

.FooterTop_Item3-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: var(--color-alt);
}

.FooterTop_Item3-InfoList {
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
    color: var(--color-text);
}

.FooterTop_Item3-InfoList a {
    color: var(--color-text);
}

.FooterTop_Item3-InfoList a:visited {
    color: var(--color-text);
}

.InfoList-item {
    min-width: max-content;
}

@media (width < 1600px) {
    .FooterTop {
        justify-content: space-evenly;
    }

    .FooterTop_Item3-title {
        text-align: center;
    }

    .FooterTop_Item3-InfoList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }
}
