.BackTopBtn,
.BackTopBtn-actived {
    place-items: center;
    display: grid;
    position: fixed;
    z-index: 20;
    bottom: 60px;
    right: 10px;
    transform: scale(0);
    width: 40px;
    height: 40px;
    transition: var(--transition-fast);
    border-radius: var(--border-round);
    cursor: pointer;
    color: var(--color-primary);
}

.BackTopBtn-actived {
    transform: scale(1);
}

.BackTopBtn-actived:hover svg {
    fill: var(--color-primary);
}

.BackTopBtn svg,
.BackTopBtn-actived svg {
    transition: var(--transition-fast);
    border-radius: var(--border-round);
    fill: var(--color-alt);
    backdrop-filter: blur(20px);
}
