.BackTopBtn,
.BackTopBtn-actived {
    place-items: center;
    display: grid;
    position: fixed;
    z-index: 20;
    bottom: 60px;
    right: 10px;
    transform: scale(0);
    width: 40px;
    height: 40px;
    transition: var(--transition-fast);
    cursor: pointer;
    border: 1px solid var(--color-primary);
    border-radius: 100%;
    color: var(--color-primary);
}

.BackTopBtn-actived {
    transform: scale(1);
}

.BackTopBtn-actived i {
    font-size: 26px;
}
