.BackTopBtn,
.BackTopBtn-actived {
    position: fixed;
    display: grid;
    place-items: center;
    right: 10px;
    bottom: 60px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    transition: var(--transition-fast);
    transform: scale(0);
    z-index: 20;
    cursor: pointer;
}

.BackTopBtn-actived {
    transform: scale(1);
}

.BackTopBtn-actived i {
    font-size: 26px;
}
