.BannerContainer {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 640px;
    background-repeat: no-repeat;
    animation: banner-appear 1s forwards;
}

@keyframes banner-appear {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.BannerContainer_1 {
    background-size: cover;
    background-position-x: 20%;
    background-image: url(../../../../../Assets/img/HeroBanner.webp);
}

.BannerContainer_2 {
    background-size: contain;
    background-position-x: 80%;
    background-image: url(../../../../../Assets/img/HeroBanner1.webp);
}

.SliderBanner_1 {
    position: absolute;
    top: 150px;
    right: 390px;
}

.SliderBanner_2 {
    position: absolute;
    top: 150px;
    left: 270px;
}

@media only screen and (max-width: 1920px) {
    .SliderBanner_1 {
        top: 120px;
        right: 150px;
    }

    .SliderBanner_2 {
        top: 100px;
        left: 100px;
    }
}

@media only screen and (max-width: 1440px) {
    .BannerContainer {
        height: 480px;
    }
}

@media only screen and (max-width: 1024px) {
    .SliderBanner_1 {
        top: 50px;
        right: 70px;
    }

    .SliderBanner_2 {
        top: 50px;
        left: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .BannerContainer_1 {
        background-position-x: 15%;
    }

    .BannerContainer_2 {
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
    }

    .SliderBanner_1,
    .SliderBanner_2 {
        position: static;
        padding: 15px;
        min-height: 350px;
        background: rgba(0, 0, 0, 0.5);
    }
}
