.Shop {
    text-align: center;
    font-family: var(--font-default);
}

.SearchForm {
    margin: 10px 0;
}

.SearchInput {
    font-family: var(--font-default);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    width: clamp(250px, 30vw, 400px);
    padding: 10px;
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    outline: none;
}

.WaitAPI {
    font-weight: 400;
    margin-top: 10px;
}
