.Review {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 130px 30px;
    background-image: url(../../../../../assets/img/Reviewbg.webp),
        url(../../../../../assets/img/ReviewTop.webp),
        url(../../../../../assets/img/ReviewBot.webp);
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-size: cover, contain, contain;
    background-position: center, top, bottom;
}
.Review__BgTop {
    position: absolute;
    top: 0;
    width: 100%;
}

.Review__BgBot {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.Review__Slider .owl-theme {
    width: 600px;
    height: 500px;
}

.Review__Slider .owl-theme .owl-nav {
    position: absolute;
    display: flex;
    bottom: 0;
}

.Review__Slider .owl-theme .owl-nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 1px solid var(--color-primary);
    transition: all ease-in-out 0.1s;
}

.Review__Slider .owl-theme .owl-nav [class*='owl-']:hover {
    background-color: var(--color-primary);
}

.Review__Slider .owl-theme .owl-nav button span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 40px;
}

.Review__Slider-Item-Title {
    font-size: clamp(16px, 4vw, 20px);
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 4px;
    margin-bottom: 46px;
}

.Review__Slider-Item-SubTitle {
    font-size: clamp(24px, 4vw, 30px);
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 4px;
    color: var(--color-primary);
}

.Review__Slider-Item-Rating {
    margin: 24px 0;
}

.Review__Slider-Item-Review {
    font-size: clamp(18px, 4vw, 26px);
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 1px;
    color: var(--color-text);
}

.Review__Slider-Item-Name {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
    color: var(--color-primary);
    margin: 23px 0 32px 0;
}

.Review__Img {
    background-image: url(../../../../../assets/img/review.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    aspect-ratio: 1;
}

@media only screen and (max-width: 768px) {
    .Review__Slider .owl-theme {
        width: max(280px, 80vw);
        height: fit-content;
    }

    .Review__Slider .owl-theme .owl-nav {
        right: 0;
    }

    .Review__Slider-Item,
    .Review__Img {
        width: max(280px, 70vw);
    }
}
