.Review {
    background-blend-mode: screen;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    position: relative;
    padding: 130px 30px;
    background-image: url(../../../../../assets/img/Reviewbg.jpg);
    background-repeat: no-repeat;
    background-position: center, top, bottom;
    background-size: cover, contain, contain;
}

.Review__BgTop {
    position: absolute;
    top: 0;
    width: 100%;
}

.Review__BgBot {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.Review__Slider .owl-theme {
    width: clamp(280px, 50vw, 500px);
}

.Review__Slider .owl-theme .owl-nav {
    display: flex;
}

.Review__Slider .owl-theme .owl-nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    transition: var(--transition-fast);
    border: 1px solid var(--color-primary);
}

.Review__Slider .owl-theme .owl-nav [class*='owl-']:hover {
    background-color: var(--color-primary);
}

.Review__Slider .owl-theme .owl-nav button span {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.Review__Slider-Item-Title {
    margin-bottom: 46px;
    font-size: clamp(16px, 4vw, 20px);
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 4px;
}

.Review__Slider-Item-SubTitle {
    font-size: clamp(24px, 4vw, 30px);
    font-weight: 500;
    line-height: 25px;
    color: var(--color-primary);
    letter-spacing: 4px;
}

.Review__Slider-Item-Rating {
    margin: 24px 0;
}

.Review__Slider-Item-Review {
    font-size: clamp(18px, 4vw, 26px);
    font-weight: 500;
    line-height: 44px;
    color: var(--color-text);
    letter-spacing: 1px;
}

.Review__Slider-Item-Name {
    margin: 23px 0 32px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: var(--color-primary);
    letter-spacing: 1px;
}

.Review .Review__Img {
    aspect-ratio: 1;
    object-fit: contain;
    width: clamp(280px, 50vw, 400px);
    animation: img-fade-in 2s ease-in-out;
}

@keyframes img-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (width < 768px) {
    .Review__Slider .owl-theme .owl-nav {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
