.BackTopBtn,
.BackTopBtn-actived {
    position: fixed;
    display: grid;
    place-items: center;
    right: 10px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: var(--color-default);
    background-color: var(--color-primary);
    transition: all ease-in-out 0.2s;
    transform: scale(0);
    z-index: 20;
    cursor: pointer;
}

.BackTopBtn-actived {
    transform: scale(1);
}

.BackTopBtn-actived i {
    font-size: 26px;
}
