:root {
    --grid-col: 1;
}

.ProductDetail {
    background-color: var(--color-primary-rbga);
    padding: 10px 20px;
}

.ProductDetail__Layout {
    display: grid;
    grid-template-columns: repeat(var(--grid-col), 1fr);
    gap: 10px;
    font-family: var(--font-default);
    background-color: var(--color-default);
    padding: 10px;
    border-radius: 20px;
}

.ProductDetail__Layout img {
    grid-area: 1 / 1 / 4;
    justify-self: center;
    align-self: center;
    width: 220px;
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 20px;
}

.ProductDetail__Name {
    font-size: 24px;
    font-weight: 600;
    grid-row: 4 / 6;
}

.ProductDetail__Description {
    overflow: hidden;
    text-overflow: ellipsis;
}

.ProductDetail__Rating {
    text-decoration: underline;
}

.ProductDetail__Price span:first-child {
    color: var(--color-primary);
}

.ProductDetail__Price span:last-child {
    text-decoration: underline;
}

.ProductDetail__AddToCart {
    justify-self: center;
    display: flex;
    gap: 10px;
    height: 35px;
}

.ProductDetail__AddToCart button {
    border-radius: 5px;
    font-size: 20px;
}

.Quantity_Btn {
    width: 35px;
}

.Quantity_Input {
    text-align: center;
    color: var(--color-alt);
    background-color: var(--color-default);
}

.AddToCart_Btn {
    width: 60px;
}

@media (width > 768px) {
    :root {
        --grid-col: 3;
    }

    .ProductDetail__Layout img {
        grid-area: 1 / 1 / 6;
    }

    .ProductDetail__Name {
        grid-area: 1 / 2 / 1 / 4;
    }

    .ProductDetail__Description {
        grid-area: 2 / 3 / 5 / 4;
    }

    .ProductDetail__Rating {
        grid-area: 2 / 2;
    }

    .ProductDetail__Price {
        grid-area: 4 / 2;
    }

    .ProductDetail__AddToCart {
        grid-area: 5 / 2;
    }
}
