.Good4MeDealBot {
    display: flex;
    justify-content: center;
    gap: 171px;
    margin: 120px 0;
}

.Good4MeDealBot_Item {
    width: 280px;
}

.Img_Container {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 25px auto;
}

.Img_Container img {
    width: 60px;
    aspect-ratio: 1;
    opacity: 0.9;
}

.Good4MeDealBot_Item:last-child img {
    transform: translateY(10px);
}

.Good4MeDealBot_Item-Circle {
    position: absolute;
    bottom: 0;
    right: -12px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: var(--color-primary);
}

.Good4MeDealBot_Item-Title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.Good4MeDealBot_Item-Content {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

@media only screen and (max-width: 1024px) {
    .Good4MeDealBot {
        flex-wrap: wrap;
        gap: 100px;
        margin-inline: 20px;
    }
}
