.User {
    background-image: url(../../img/HeroBanner2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: var(--font-default);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

.SignIn form, .Regis form {
    width: clamp(300px, 50vw, 400px);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    height: 400px;
    display: grid;
    place-items: center;
    padding: 0 10px;
    margin: 50px 0;
    border-radius: 15px;
}

.SignIn form {
    background-image: linear-gradient(45deg, rgba(255,182,193, .7), rgba(246, 98, 62, .7));
}

.Regis form {
    background-image: linear-gradient(45deg, rgba(246, 98, 62, .7), rgba(255,182,193, .7));
}

.Input_Container {
    display: grid;
    grid-template-columns: repeat(auto-fill, clamp(220px, 40vw, 300px));
    gap: 50px;
    margin-top: 20px;
}

.Input_Container div {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.Input_Container i {
    color: var(--color-alt);
}

.Input_Container input {
    font-family: var(--font-default);
    font-size: 16px;
    font-weight: 500;
    position: relative;
    width: clamp(220px, 40vw, 300px);
    height: 30px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: transparent;
    border-bottom: 2px solid var(--color-default);
    transition: all ease-in-out .2s;
}

.Input_Container input:focus {
    background: rgba(255, 255, 255, .7);
}

.Input_Container input::placeholder {
    color: var(--color-alt);
}

.User_Submit button {
    font-family: var(--font-default);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
    padding: 5px 10px;
    color: var(--color-default);
    background: rgba(0, 0, 0, .8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.User_Submit button:hover {
    background: var(--color-primary);
}

.Sign-Regis {
    font-weight: 600;
    color: var(--color-alt);
}

.Sign-Regis:hover {
    cursor: pointer;
    text-decoration: underline;
}

.User__Account {
    width: clamp(300px, 60vw, 1920px);
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 20px;
}

.User__Account-Form {
    display: grid;
    gap: 10px;
    font-size: 20px;
    color: var(--color-default);
}

.User__Account-Form input {
    font-family: var(--font-default);
    font-size: 20px;
    width: clamp(260px, 40vw, 600px);
    height: 30px;
}

#address {
    font-family: var(--font-default);
    font-size: 20px;
    height: 50px;
    text-align: center;
    resize: none;
    text-align: left;
}

.SaveInfo-Btn, .ChangeInfo-Btn {
    font-family: var(--font-default);
    font-size: 18px;
    width: max-content;
    padding: 10px;
    justify-self: end;
    background: var(--color-primary);
    color: var(--color-default);
    cursor: pointer;
}

.SaveInfo-Btn:disabled, .ChangeInfo-Btn:disabled {
    background: var(--color-alt);
    pointer-events: none;
}