header {
    position: sticky;
    top: 0;
    z-index: 1000;
    animation: header-appear 0.5s ease-in-out forwards;
    transition: var(--transiton-fast);
}

@keyframes header-appear {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
