:root {
    --bannerHeight: 450px;
}

.HeroBanner .owl-theme .owl-dots .owl-dot.active span {
    background: var(--color-primary);
}

.HeroBanner .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--color-primary-rgba);
}

.BannerContainer {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: var(--bannerHeight);
    position: relative;
}

.BannerContainer_MainImg {
    height: inherit;
}

.BannerContainer_SubImg {
    position: absolute;
    bottom: 0px;
    object-fit: cover;
}

.BannerContainer_MainImg_1 {
    object-position: 20% 15%;
    object-fit: cover;
    background-color: transparent;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.BannerImgLoader1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.SliderBanner_1 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.BannerContainer_2,
.BannerContainer_3 {
    background-image: url('../../../../../assets/img/controlbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.BannerContainer_MainImg_2 {
    object-position: 70% center;
    object-fit: contain;
    height: calc(var(--bannerHeight) - 100px);
    z-index: 1;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.SliderBanner_2 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.BannerContainer_MainImg_3 {
    object-position: center;
    object-fit: contain;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.BannerImgLoader3 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.SliderBanner_3 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.SliderBanner_1,
.SliderBanner_2,
.SliderBanner_3 {
    z-index: 10;
    transition: var(--transition-fast);
}

.BannerImgLoader2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    z-index: 1;
}

@media (width <= 565px) {
    .BannerContainer_MainImg_1 {
        object-position: 10% center;
    }

    .BannerContainer_MainImg_2 {
        object-position: center;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .BannerContainer_MainImg_3 {
        object-fit: cover;
    }

    .SliderBanner_1,
    .SliderBanner_2 {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
}

@media (width < 425px) {
    .BannerContainer_MainImg_1 {
        object-position: 20%;
    }
}
