:root {
    --bannerHeight: 500px;
}

.HeroBanner .owl-theme .owl-dots .owl-dot.active span {
    background: var(--color-primary);
}

.HeroBanner .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--color-primary-rgba);
}

.BannerContainer {
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: var(--bannerHeight);
    position: relative;
}

.BannerContainer img {
    height: inherit;
}

.BannerContainer_1-BG {
    background-image: url('../../../../../assets/img/HeroBannerBot.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0px;
}

.BannerContainer_1 img {
    object-position: 20% 15%;
    object-fit: cover;
    grid-area: 1 / 1 / 1 / 3;
    background-color: transparent;
}

.BannerContainer_2-BG {
    background-image: url('../../../../../assets/img/HeroBannerBot1.png');
    background-size: 100% 25%;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.BannerContainer_2 {
    background-image: url('../../../../../assets/img/controlbg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.BannerContainer_2 img {
    object-position: 70% center;
    object-fit: contain;
    grid-area: 1 / 2;
    height: calc(var(--bannerHeight) - 100px);
    z-index: 1;
}

.BannerContainer_3 {
    background-image: url('../../../../../assets/img/controlbg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.BannerContainer_3 img {
    object-position: center;
    object-fit: contain;
    grid-area: 1 / 1 / 1 / 3;
}

.SliderBanner_1 {
    grid-area: 1 / 2;
    z-index: 10;
    transition: var(--transition-fast);
}

.SliderBanner_2 {
    z-index: 10;
    transition: var(--transition-fast);
}

.SliderBanner_3 {
    grid-area: 1 / 1 / 1 / 3;
    z-index: 10;
    transition: var(--transition-fast);
}

@media (width < 768px) {
    .BannerContainer {
        grid-template-columns: 1fr;
    }

    .BannerContainer_1 img {
        object-position: 10% center;
        grid-area: 1 / 1 / 1/2;
    }

    .BannerContainer_2 img {
        grid-area: 1 / 1;
        object-position: center;
    }

    .SliderBanner_1 {
        grid-area: 1 / 1;
    }

    .SliderBanner_2 {
        grid-area: 1 / 1;
    }
}

@media (width < 425px) {
    .BannerContainer_1 img {
        object-position: 20%;
    }
}
