.BannerContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    height: 600px;
}

.BannerContainer_1 {
    background-image: url(../../../../../assets/img/HeroBanner.webp);
    background-size: cover;
}

.SliderBanner_1 {
    grid-area: 1 / 2;
}

.BannerContainer_2 {
    background-image: url(../../../../../assets/img/HeroBanner1.webp);
    background-size: contain;
    background-position-x: 80%;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1440px) {
    .BannerContainer {
        height: 450px;
    }
}

@media only screen and (max-width: 768px) {
    .BannerContainer {
        grid-template-columns: 1fr;
    }

    .BannerContainer_1 {
        background-position-x: 17%;
    }

    .BannerContainer_2 {
        background-position-x: center;
    }

    .SliderBanner_1 {
        grid-area: 1;
    }

    .SliderBanner_1,
    .SliderBanner_2 {
        min-height: 300px;
        background-color: rgba(0, 0, 0, 0.6);
    }
}
