.BannerContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    height: 600px;
}

.BannerContainer img {
    height: inherit;
}

.BannerContainer_1 img {
    object-position: 20% center;
    object-fit: cover;
    grid-area: 1 / 1 / 1 / 3;
}

.BannerContainer_2 img {
    object-position: 70% center;
    object-fit: contain;
    grid-area: 1 / 2;
}

.BannerContainer_3 img {
    object-position: center;
    object-fit: contain;
    grid-area: 1 / 1 / 1 / 3;
}

.SliderBanner_1 {
    grid-area: 1 / 2;
    z-index: 10;
    transition: var(--transition-fast);
}

.SliderBanner_2 {
    z-index: 10;
    transition: var(--transition-fast);
}

.SliderBanner_3 {
    grid-area: 1 / 1 / 1 / 3;
    z-index: 10;
    transition: var(--transition-fast);
}

@media (width < 1440px) {
    .BannerContainer {
        height: 450px;
    }
}

@media (width < 768px) {
    .BannerContainer {
        grid-template-columns: 1fr;
    }

    .BannerContainer_1 img {
        object-position: 15% center;
        grid-area: 1 / 1;
    }

    .BannerContainer_2 img {
        object-position: initial;
        grid-area: 1 / 1;
    }

    .BannerContainer_3 img {
        object-fit: cover;
    }

    .SliderBanner_1 {
        grid-area: 1 / 1;
    }

    .SliderBanner_2 {
        grid-area: 1 / 1;
    }
}

@media (width < 425px) {
    .BannerContainer_1 img {
        object-position: 17% center;
    }

    .BannerContainer_2 img {
        object-fit: cover;
    }
}
