.BannerContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    height: 600px;
}

/* .owl-item.active .BannerContainer img {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 1s;
} */

.BannerContainer img {
    height: inherit;
}

.BannerContainer_1 img {
    object-position: 20% center;
    object-fit: cover;
    grid-area: 1 / 1 / 1 / 3;
}

.BannerContainer_2 img {
    object-position: 70% center;
    object-fit: contain;
    grid-area: 1 / 2;
}

.SliderBanner_1 {
    grid-area: 1 / 2;
    z-index: 10;
}

.SliderBanner_2 {
    z-index: 10;
}

@media (width < 1440px) {
    .BannerContainer {
        height: 400px;
    }
}

@media (width < 768px) {
    .BannerContainer {
        grid-template-columns: 1fr;
    }

    .BannerContainer_1 img {
        object-position: 20% center;
        grid-area: 1 / 1;
    }

    .BannerContainer_2 img {
        object-position: initial;
        grid-area: 1 / 1;
    }

    .owl-item.active .SliderBanner_1,
    .owl-item.active .SliderBanner_2 {
        -webkit-animation: blur-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: blur-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation-delay: 0.7s;
    }

    .SliderBanner_1 {
        grid-area: 1 / 1;
    }

    .SliderBanner_2 {
        grid-area: 1 / 1;
    }

    .SliderBanner_1,
    .SliderBanner_2 {
        min-height: 300px;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@media (width < 375px) {
    .BannerContainer_2 img {
        object-fit: cover;
    }
}

/**
 * ----------------------------------------
 * animation blur-in
 * ----------------------------------------
 */
@-webkit-keyframes blur-in {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes blur-in {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
