.BannerContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    height: 600px;
}

.BannerContainer img {
    height: 450px;
}

.BannerContainer_1 img {
    object-position: 20% center;
    object-fit: cover;
    grid-area: 1 / 1 / 1 / 3;
}

.BannerContainer_2 img {
    object-position: 90% center;
    object-fit: contain;
    grid-area: 1 / 2;
}

.SliderBanner_1 {
    grid-area: 1 / 2;
    z-index: 10;
}

.SliderBanner_2 {
    z-index: 10;
}

@media only screen and (max-width: 1440px) {
    .BannerContainer {
        height: 450px;
    }
}

@media only screen and (max-width: 768px) {
    .BannerContainer {
        grid-template-columns: 1fr;
    }

    .BannerContainer_1 img {
        object-position: 20% center;
        grid-area: 1 / 1;
    }

    .BannerContainer_2 img {
        object-position: initial;
        grid-area: 1 / 1;
    }

    .SliderBanner_1 {
        grid-area: 1 / 1;
    }

    .SliderBanner_2 {
        grid-area: 1 / 1;
    }

    .SliderBanner_1,
    .SliderBanner_2 {
        min-height: 300px;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@media only screen and (max-width: 375px) {
    .BannerContainer_2 img {
        object-fit: cover;
    }
}
