.colorNote {
    animation: colorNote 2s ease-in-out forwards;
}

@keyframes colorNote {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.WholesaleProductDetail {
    min-height: 500px;
}

.WholesaleBreadcrumb__Skeleton {
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
}

.WholesaleProductDetailLayout__Breadcrumb {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--color-alt-rgba-1);
}

.WholesaleProductDetailLayout__Breadcrumb a {
    color: var(--color-primary);
    text-decoration: none;
}

.WholesaleProductDetailLayout__Product-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.Product-Container__Img img {
    aspect-ratio: 1;
    width: 280px;
    border: 1px solid var(--color-alt);
}

.Product-Container__Info {
    width: 280px;
}

.Product-Container__Info-Name {
    font-size: 24px;
    font-weight: 600;
}

.Product-Container__Info-Price {
    border-top: 1px solid var(--color-alt-rgba-1);
    border-bottom: 1px solid var(--color-alt-rgba-1);
}

.Product-Container__Info-Color {
    display: flex;
    align-items: center;
    gap: 10px;
    min-height: 50px;
    padding: 0;
}

.Product-Container__Info-Color li {
    cursor: pointer;
}

.Product-Container__Info-AddToCart-Form {
    display: grid;
    gap: 10px;
}

.Quantity-Option,
.Submit-Option {
    display: flex;
    gap: 10px;
}

.Product-Container__Info-AddToCart-Form button {
    border: none;
}

.Product-Container__Info-AddToCart-Form .Decre,
.Product-Container__Info-AddToCart-Form .Incre {
    width: 30px;
    height: 30px;
}

.Product-Container__Info-AddToCart-Form .Wholesale-BuyNow,
.Product-Container__Info-AddToCart-Form .Wholesale-AddToCart {
    width: 80px;
}

.Product-Container__Info-AddToCart-Form input {
    outline: none;
    width: 29px;
    height: 29px;
    text-align: center;
}

.Product-Container__Info-AddToCart-Form input::-webkit-inner-spin-button,
.Product-Container__Info-AddToCart-Form input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.Product-Container__Shipping-Info {
    min-width: 280px;
    padding: 5px;
    background-color: var(--color-alt-rgba-1);
}

.Product-Container__Shipping-Info-Opt {
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px solid var(--color-icon);
}

.Product-Container__Shipping-Info-Opt select {
    justify-items: end;
}
