.ErrorBoundary {
    place-items: center;
    display: grid;
    gap: 20px;
}

.ErrorBoundary h2 {
    text-align: center;
    text-wrap: balance;
}

.ErrorBoundary button {
    padding: 5px;
    transition: var(--transition-fast);
    border-radius: var(--border-s);
    font-weight: 700;
}

.ErrorBoundary button:hover {
    background-color: var(--color-primary);
    color: var(--color-default);
}

.ErrorBoundary p {
    text-align: left;
    word-break: break-word;
}
