.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: var(--color-default);
    padding: 30px 60px;
    border-bottom: 2px solid var(--color-primary);
}

.NavBar a {
    transition: all ease-in-out 0.2s;
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    .NavBar {
        padding: 20px;
    }
}
