.NavBar {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 60px;
}

.NavBar a {
    transition: var(--transition-fast);
    text-decoration: none;
}

@media (width <= 1024px) {
    .NavBar {
        padding: 5px 10px;
    }
}
