.NavBar {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto 0;
    align-items: center;
    column-gap: 20px;
    background-color: var(--color-default);
    height: 104px;
}

.NavBar a {
    transition: var(--transition-fast);
}

@media (width <= 1024px) {
    .NavBar {
        height: 74px;
    }
}
