.NavBar {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    background-color: var(--color-default);
    border-bottom: 2px solid var(--color-primary);
    padding: 30px 60px;
}

.NavBar a {
    transition: all ease-in-out 0.2s;
    text-decoration: none;
}

@media (width <= 1024px) {
    .NavBar {
        padding: 20px;
    }
}
