.PageFisrtLoad {
    inset: 0;
    place-items: center;
    display: grid;
    gap: 30px;
    position: fixed;
    z-index: 9999;
    height: 100vh;
    background-color: var(--color-alt-rgba-5);
}

.AdBanner-Container {
    position: relative;
}

.AdBanner_Img {
    aspect-ratio: 1;
    width: clamp(280px, 50vw, 400px);
    transition: var(--transition-fast);
}

.AdBanner__Btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    transition: var(--transition-fast);
    animation: btnIn 1s ease-in-out both;
    animation-delay: 1s;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 50%;
}

@keyframes btnIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.AdBanner__Btn i {
    font-size: 30px;
}

.AdBanner__Btn:hover {
    background-color: var(--color-primary);
    color: var(--color-default);
}
