.PageFisrtLoad {
    position: fixed;
    inset: 0;
    display: none;
    place-items: center;
    height: 100vh;
    gap: 30px;
    background-color: var(--color-alt-rgba-5);
    z-index: 1000;
}

.AdBanner-Container {
    position: relative;
}

.AdBanner_Img {
    width: clamp(280px, 50vw, 600px);
    aspect-ratio: 1;
    transition: var(--transition-fast);
}

.AdBanner__Btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    transition: var(--transition-fast);
}

.AdBanner__Btn i {
    font-size: 30px;
}

.AdBanner__Btn:hover {
    background-color: var(--color-primary);
    color: var(--color-default);
}
