.Good4MeDeal {
    text-align: center;
}

.Loading {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.Good4MeDeal hr {
    width: 127px;
    height: 4px;
    margin: 25px auto;
    background-color: var(--color-primary);
    border-width: 0;
    opacity: 1;
}

.Good4MeDeal > p {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var(--color-text);
    margin-bottom: 36px;
}

.Good4MeDeal .ProductItem {
    opacity: 0;
}
