.NavBar a {
    transition: all ease-in-out 0.2s;
    text-decoration: none;
}

.NavBar a:hover {
    color: var(--color-primary);
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px 60px;
    transition: all 0.2s ease-in-out;
}

.NavBar:hover {
    background-color: var(--color-default);
}

.MobileMenu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 40px;
    height: 35px;
    gap: 5px;
    padding: 5px;
    border: none;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.MobileMenu:hover {
    background: rgba(0, 0, 0, 0.3);
}

.MobileMenu:hover .MenuIcon {
    background: var(--color-default);
}

.MenuIcon {
    height: 2px;
    background-color: var(--color-text);
    transition: all ease-in-out 0.2s;
}

.MenuIcon1,
.MenuIcon2 {
    width: 30px;
}

.MenuIcon3 {
    width: 20px;
}

.MobileMenu__NavBar {
    display: grid;
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    font-family: var(--font-default);
    transition: all ease-in-out 0.3s;
}

.MobileMenu__NavBar-actived {
    display: grid;
    position: absolute;
    width: 100%;
    height: 324px;
    overflow: hidden;
    font-family: var(--font-default);
    font-weight: 500;
    background: var(--color-default);
    transition: all ease-in-out 0.3s;
}

.MobileMenu__NavBar-actived > a {
    color: var(--color-text);
}

.MobileMenu__Item {
    position: relative;
    padding: 15px;
    transition: padding ease-in-out 0.3s 0.2s;
}

.MobileMenu__Item::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 3px;
    height: 0;
    background: var(--color-text);
    transition: all ease-in-out 0.5s;
}

.MobileMenu__Item::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--color-text);
    transition: all ease-in-out 0.5s;
}

.MobileMenu__Item:hover::before {
    height: 100%;
}

.MobileMenu__Item:hover::after {
    width: 100%;
}

.NavBar__Logo {
    display: flex;
    align-items: center;
    font-size: clamp(26px, 4vw, 36px);
    font-weight: 600;
    line-height: 24px;
    color: var(--color-alt);
    transition: all 0.2s ease-in-out;
}

.NavBar__Logo span {
    font-size: clamp(16px, 2vw, 20px);
}

.NavBar__Logo:hover {
    color: var(--color-primary);
}

.NavBar__List {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-family: var(--font-default);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.NavBar__List .active,
.SearchCart .active i {
    color: var(--color-primary) !important;
}

.NavBar__List a:hover {
    text-decoration: underline;
}

.MobileMenu__NavBar-actived .active {
    padding-left: 50px;
    color: var(--color-default);
    background: rgba(246, 98, 62, 0.8);
}

.NavBar__List .inactive,
.MobileMenu__Item {
    color: var(--color-text);
}

.MobileMenu__Item:hover {
    color: var(--color-default) !important;
    background: rgba(246, 98, 62, 0.8);
    padding-left: 50px;
    font-weight: 900;
}

.SearchCart {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.Icon {
    font-size: 20px;
    color: var(--color-text);
    transition: all ease-in-out 0.3s;
}

.Icon:hover {
    color: var(--color-primary);
}

.NavBar__UserIcon {
    display: none;
}

.Cart_IconContainer {
    position: relative;
}

.Cart_Notify {
    position: absolute;
    top: -7px;
    right: -11px;
    display: grid;
    place-items: center;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: 2px solid var(--color-default);
    background: var(--color-primary);
    color: var(--color-default);
    transition: all ease-in-out 0.3s;
}

.Cart_Notify-Number {
    font-size: 12px;
    font-weight: 600;
}

@media only screen and (max-width: 1024px) {
    .NavBar {
        padding: 30px 20px;
    }

    .MobileMenu {
        display: flex;
    }

    .NavBar__List {
        display: none;
    }

    .NavBar__UserIcon {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .Icon {
        font-size: 16px;
    }
}
