:root {
    --imgWidthL: 318px;
    --imgWidthS: 200px;
}

.Good4MeSilder .owl-carousel .owl-stage-outer {
    padding-left: calc(var(--imgWidthL) / 2 + 15px);
}

.Good4MeSilder .owl-control .item {
    width: var(--imgWidthL);
}

.Good4MeSilder .owl-control .item img {
    aspect-ratio: 1;
    object-fit: cover;
}

.Good4MeSilder {
    margin-block: 40px;
    text-align: center;
}

@media (width < 1024px) {
    .Good4MeSilder .owl-carousel .owl-stage-outer {
        padding-left: 30px;
    }

    .Good4MeSilder .owl-control .item {
        width: var(--imgWidthS);
    }
}
