.SignBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: var(--color-default);
    background-color: var(--color-primary);
    padding: 15px 120px;
    z-index: 100;
}

.SignBar__Text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.SignBar__SignRegis {
    display: flex;
    gap: 10px;
}

.SignBar__SignRegis-Link {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-default);
    border-right: solid 1px var(--color-default);
}

.SignBar__SignRegis-Link .active {
    font-weight: 500;
    text-decoration: underline;
}

.SignBar__SignRegis-Link .inactive {
    color: var(--color-default);
}

.SignBar__SignRegis-Link > a:visited {
    color: var(--color-default);
}

.SignBar__Languages {
    display: flex;
    align-items: center;
    gap: 5px;
}

.LangLabel img {
    display: grid;
    place-items: center;
    width: 30px;
}

.LangSelect {
    color: var(--color-default);
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.LangOption {
    color: var(--color-alt);
}

@media (width < 1024px) {
    .SignBar {
        display: none;
    }
}
