/* section,
section .ProductItem {
    animation-timeline: view() !important;
    animation-range: 100px 300px !important;
}

.Good4MeDeal .ProductItem {
    animation: fade-in both;
    animation-range: 100px 250px !important;
}

.Good4MeDeal .Good4MeDealBot_Item {
    animation: fade-in both;
    animation-timeline: view() !important;
}

.Good4MeDeal .Good4MeDealBot_Item:first-child {
    animation-range: entry 50px !important;
}
.Good4MeDeal .Good4MeDealBot_Item:nth-child(2) {
    animation-range: entry 100px !important;
}
.Good4MeDeal .Good4MeDealBot_Item:last-child {
    animation-range: entry 150px !important;
}

.Control {
    animation: slide-in both;
}

.OurProduct {
    animation: slide-down both;
}

.OurProduct .ProductItem {
    animation-range: 50px 200px !important;
    animation: fade-in both;
}

.Review {
    animation: slide-in both;
}

.ShopAll {
    animation: slide-up both;
}

.ShopAll .ProductItem {
    animation: slide-up both;
}

.LatestNew .NewsItem {
    animation: fade-in both;
    animation-timeline: view() !important;
}

.LatestNew .NewsItem:first-child {
    animation-range: entry 20px !important;
}
.LatestNew .NewsItem:nth-child(2) {
    animation-range: entry 50px !important;
}
.LatestNew .NewsItem:last-child {
    animation-range: entry 80px !important;
} */

/* @keyframes fade-in {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        scale: 1;
    }
    to {
        opacity: 0;
        scale: 0;
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        scale: 0;
        translate: -100% 0;
    }
    to {
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        translate: 0 -50px;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        translate: 0 100px;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
} */

.animated-slide-up {
    animation: slide-up 0.3s linear both;
}

@keyframes slide-up {
    from {
        opacity: 0;
        translate: 0 100px;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

.animated-fade-in {
    animation: fade-in 0.3s linear both;
}

@keyframes fade-in {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
