section,
section .ProductItem {
    animation-timeline: view() !important;
    animation-range: 100px 300px !important;
}

/* .Good4MeDeal {
    opacity: 0;
    animation: fade-in ease-in-out forwards;
} */

.Good4MeDeal .ProductItem {
    opacity: 0;
    animation: fade-in ease-in-out forwards;
    animation-range: 250px 350px !important;
}

.Good4MeDeal .Good4MeDealBot_Item {
    opacity: 0;
    scale: 0;
    animation: fade-in ease-in-out forwards;
    animation-timeline: view() !important;
}

.Good4MeDeal .Good4MeDealBot_Item:first-child {
    animation-range: entry 50px !important;
}
.Good4MeDeal .Good4MeDealBot_Item:nth-child(2) {
    animation-range: entry 100px !important;
}
.Good4MeDeal .Good4MeDealBot_Item:last-child {
    animation-range: entry 150px !important;
}

.Control {
    opacity: 0.5;
    scale: 0.7;
    translate: -100% 0;
    animation: slide-in linear forwards;
}

.OurProduct {
    opacity: 0;
    translate: 0 -70px;
    animation: slide-down linear forwards;
}

.OurProduct .ProductItem {
    scale: 0;
    animation-range: 50px 200px !important;
    animation: fade-in linear forwards;
}

.Review {
    opacity: 0;
    scale: 0;
    animation: fade-in ease-in-out forwards;
}

.ShopAll {
    opacity: 0;
    translate: 0 100px;
    animation: slide-up linear forwards;
}

.ShopAll .ProductItem {
    animation: slide-up linear forwards;
}

.LatestNew .NewsItem {
    opacity: 0;
    scale: 0;
    animation: fade-in ease-in-out forwards;
    animation-timeline: view() !important;
}

.LatestNew .NewsItem:first-child {
    animation-range: entry 50px !important;
}
.LatestNew .NewsItem:nth-child(2) {
    animation-range: entry 100px !important;
}
.LatestNew .NewsItem:last-child {
    animation-range: entry 150px !important;
}

@keyframes fade-in {
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes slide-in {
    to {
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

@keyframes slide-down {
    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes slide-up {
    to {
        opacity: 1;
        translate: 0 0;
    }
}

@media (height < 700px) {
    .OurProduct .ProductItem {
        animation: fade-in !important;
        translate: none !important;
    }
}
