.Good4MeDealBot {
    display: flex;
    justify-content: center;
    gap: 171px;
    margin: 120px 0;
}

.Good4MeDealBot_Item {
    width: 280px;
    transition: var(--transition-slow);
    opacity: 0;
}

.Good4MeDealBot_Item:hover .Good4MeDealBot_Item-Circle {
    transform: scale(2);
    right: 8px;
    bottom: 5px;
}

.Img_Container {
    position: relative;
    width: 60px;
    margin: 25px auto;
}

.Img_Container img {
    aspect-ratio: 1;
    opacity: 0.9;
    width: 100%;
}

.Good4MeDealBot_Item-Circle {
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 45px;
    height: 45px;
    background-color: var(--color-primary);
    border-radius: 100%;
    transition: var(--transition-slow);
}

.Good4MeDealBot_Item-Title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.Good4MeDealBot_Item-Content {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

@media (width < 1024px) {
    .Good4MeDealBot {
        flex-wrap: wrap;
        gap: 100px;
    }
}
