.SearchCart {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.Icon {
    font-size: 20px;
    color: var(--color-text);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.Icon:hover {
    color: var(--color-primary);
}

.NavBar__UserIcon {
    display: none;
}

.Nav-Search {
    display: grid;
    position: absolute;
    inset: 0;
    top: 140px;
    height: 100vh;
    background-color: var(--color-alt-rgba-3);
    transform: rotateX(90deg);
    transform-origin: top;
    transition: all 0.3s ease-in-out;
}

.Nav-Search-Form {
    display: grid;
    grid-template-rows: min-content min-content;
    justify-content: center;
}

.Nav-Search-Container {
    position: relative;
    width: clamp(300px, 80vw, 500px);
}

.Nav-Search input {
    padding: 5px;
    width: 100%;
    height: 30px;
    border: none;
    margin: 2px 0 5px;
}

.Nav-Search input:focus {
    outline: 1px solid var(--color-primary);
}

.Nav-Search__Result {
    background-color: var(--color-default);
    padding-left: 0;
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
}

.Nav-Search__Result li {
    transition: all 0.3s ease-in-out;
}

.Nav-Search__Result li img {
    width: 30px;
    aspect-ratio: 1;
    margin-right: 10px;
}

.Nav-Search__Result li a {
    display: inline-block;
    padding: 10px;
    width: 100%;
    color: var(--color-text);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.Nav-Search__Result li:hover {
    background-color: var(--color-primary);
}

.Nav-Search__Result li:hover a {
    color: var(--color-default);
}

.Cart_IconContainer {
    position: relative;
}

.Cart_Notify {
    position: absolute;
    top: -7px;
    right: -11px;
    display: grid;
    place-items: center;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: 2px solid var(--color-default);
    background-color: var(--color-primary);
    color: var(--color-default);
    transition: all ease-in-out 0.3s;
}

.Cart_Notify-Number {
    font-size: 12px;
    font-weight: 600;
}

@media only screen and (max-width: 1024px) {
    .NavBar__UserIcon {
        display: block;
    }

    .Nav-Search {
        top: 80px;
    }
}

@media only screen and (max-width: 768px) {
    .Icon {
        font-size: 16px;
    }
}
