.SearchCart {
    position: relative;
    display: flex;
    justify-self: end;
    align-items: center;
    gap: 10px;
}

.Icon {
    font-size: 20px;
    color: var(--color-text);
    transition: var(--transition-fast);
    cursor: pointer;
}

.Icon:hover {
    color: var(--color-primary);
}

.NavBar__UserIcon {
    display: none;
}

.NavSearch {
    grid-column: 1 / 4;
    display: grid;
    place-items: center;
    transition: var(--transition-fast);
    overflow: auto;
    background-color: var(--color-alt-rgba-1);
}

.NavSearch::-webkit-scrollbar {
    width: 5px;
}

.NavSearch::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

.NavSearch div {
    text-align: center;
}

.NavSearch__Form {
    position: sticky;
    top: 0;
    transition: var(--transition-fast);
}

.NavSearch__Form input {
    min-width: 260px;
    padding: 5px;
    border: none;
    outline: 1px solid var(--color-text);
    border-radius: 2px;
    transition: var(--transition-fast);
}

.NavSearch__Form input:focus-visible {
    outline: 1px solid var(--color-primary);
}

.NavSearch__Result {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 0;
    padding: 0;
    transition: var(--transition-fast);
}

.NavSearch__Result li {
    transition: var(--transition-fast);
}

.NavSearch__Result li img {
    width: 30px;
    aspect-ratio: 1;
    margin-right: 10px;
}

.NavSearch__Result li a {
    padding: 5px;
    width: 100%;
    color: var(--color-text);
    text-decoration: none;
    transition: var(--transition-fast);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.NavSearch__Result li:hover {
    background-color: var(--color-primary);
}

.NavSearch__Result li:hover a {
    color: var(--color-default);
}

.Cart_IconContainer {
    position: relative;
}

.Cart_Notify {
    position: absolute;
    top: -7px;
    right: -11px;
    display: grid;
    place-items: center;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: var(--color-primary);
    color: var(--color-default);
    transition: var(--transition-fast);
}

.Cart_Notify-Number {
    font-size: 12px;
    font-weight: 600;
}

@media (width <= 1024px) {
    .NavBar__UserIcon {
        display: block;
    }
}

@media (width <= 768px) {
    .Icon {
        font-size: 16px;
    }

    .NavSearch__Result {
        grid-template-columns: 1fr 1fr;
    }
}

@media (height < 600px) {
    .NavSearch__Result {
        max-height: 150px !important;
    }

    .NavSearch__Result li img {
        display: none;
    }

    .NavSearch__Result li a {
        font-size: 14px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        padding: 0;
        padding-block: 2px;
    }
}
