.SearchCart {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.SearchCart button,
.SearchCart a {
    width: 20px;
    height: 20px;
}

.SearchCart button {
    background: none;
    border: none;
}

.Icon {
    transition: var(--transition-fast);
    cursor: pointer;
    font-size: 20px;
    color: var(--color-text);
}

.Icon:hover {
    color: var(--color-primary);
}

.SearchCart a:has(.NavBar__UserIcon) {
    display: none;
    visibility: hidden;
}

.NavSearch {
    place-items: center;
    display: grid;
    grid-column: 1 / 4;
    overflow: auto;
    transition: var(--transition-fast);
    background-color: var(--color-primary-rgba-3);
}

.NavSearch::-webkit-scrollbar {
    width: 5px;
}

.NavSearch::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

.NavSearch div {
    text-align: center;
}

.NavSearch__Form {
    position: sticky;
    top: 0;
    transition: var(--transition-fast);
}

.NavSearch__Form--Text {
    margin-top: 10px;
    color: var(--color-text);
}

.NavSearch__Form input {
    outline: 1px solid var(--color-text);
    min-width: 260px;
    padding: 10px;
    transition: var(--transition-fast);
    border: none;
    border-radius: 50px;
}

.NavSearch__Form input:focus-visible {
    outline: none;
    box-shadow: 0 0 3px 3px var(--color-primary-rgba);
}

.NavSearch__Result {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
    transition: var(--transition-fast);
}

.NavSearch__Result li {
    transition: var(--transition-fast);
}

.NavSearch__Result li img {
    aspect-ratio: 1;
    width: 30px;
    margin-right: 10px;
}

.NavSearch__Result li a {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    transition: var(--transition-fast);
    color: var(--color-text);
    text-decoration: none;
}

.NavSearch__Result li:hover {
    background-color: var(--color-primary);
}

.NavSearch__Result li:hover a {
    color: var(--color-default);
}

.Cart_IconContainer {
    position: relative;
}

.Cart_Notify {
    place-items: center;
    display: grid;
    position: absolute;
    top: -7px;
    right: -11px;
    width: 18px;
    height: 18px;
    transition: var(--transition-fast);
    background-color: var(--color-primary);
    border-radius: 100%;
    color: var(--color-default);
}

.Cart_Notify-Number {
    font-size: 12px;
    font-weight: 600;
}

@media (width <= 1024px) {
    .SearchCart a:has(.NavBar__UserIcon) {
        display: block;
        visibility: visible;
    }
}

@media (width <= 768px) {
    .Icon {
        font-size: 16px;
    }

    .NavSearch__Result {
        grid-template-columns: 1fr 1fr;
    }
}

@media (height < 600px) {
    .NavSearch__Result {
        max-height: 150px !important;
    }

    .NavSearch__Result li img {
        display: none;
    }

    .NavSearch__Result li a {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        padding-block: 2px;
        display: -webkit-box;
        overflow: hidden;
        padding: 0;
        font-size: 14px;
    }
}
