:root {
    --SignBar: #F6623E;
    --textDefault: #ffffff;
    --textAlt: #000000;
}

.SignBar {
    color: var(--textDefault);
    background-color: var(--SignBar);
    padding: 15px 120px;
}

.SignBar__SignRegis {
    
}


.SignBar__SignRegis--Component {
    border-right: solid 1px var(--textDefault);
}

.SignBar__SignRegis--Languages {

}

.LangLabel {
    width: 30px;
    height: 25px;
}

.LangSelect {
    color: var(--textDefault);
    background: transparent;
    border: none;
}

.LangOption {
    color: var(--textAlt);
}