.UserProfile {
    display: grid;
    gap: 20px;
}

.UserProfile__UserData {
    display: grid;
    gap: 10px;
    grid-template-columns: 128px max-content;
    min-height: 170px;
}

.UserProfile__UserData img {
    aspect-ratio: 1;
    object-fit: cover;
    width: 128px;
    min-width: 128px;
    border-radius: 50%;
}

.UserProfile__UserData div {
    align-self: center;
}

.SignOut__Btn {
    justify-self: center;
    transition: var(--transition-fast);
    border: none;
}

.SignOut__Btn:hover {
    background-color: var(--color-primary-rgba);
}

.SignOut__Btn:hover a {
    color: var(--color-default);
}

.SignOut__Btn a {
    padding: 5px;
    color: var(--color-alt);
    text-decoration: none;
}

.ClearPurchaseHistory__Btn {
    width: fit-content;
    padding: 5px;
}

.Admin-Product-Control {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.ProductsAddingForm fieldset {
    display: grid;
    gap: 10px;
    padding: 20px;
    border: 1px solid var(--color-primary-rgba);
}

@media (max-width: 424px) {
    .UserProfile__PurchaseHistory-TableContainer {
        overflow-x: auto;
        overflow-y: hidden;
        width: clamp(280px, 100%, 1920px);
    }

    .table {
        width: max-content;
        max-width: none;
        margin-bottom: 0;
    }

    .UserProfile__PurchaseHistory-TableContainer-webkit-scrollbar {
        width: 10px;
    }
    .UserProfile__PurchaseHistory-TableContainer-webkit-scrollbar:horizontal {
        height: 10px;
    }
    .UserProfile__PurchaseHistory-TableContainer-webkit-scrollbar-track {
        background-color: var(--color-alt-rgba-3);
    }
    .UserProfile__PurchaseHistory-TableContainer-webkit-scrollbar-thumb {
        background-color: var(--color-icon);
    }
}
