footer {
    background-image: url(../../../assets/img/Footer.webp),
        url(../../../assets/img/FooterTop.webp);
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-size: cover, contain;
    position: relative;
    margin-top: 30px;
}

footer hr {
    border: 1px solid var(--color-text);
    margin: 30px 0;
}

.Footer__Container {
    padding: 80px 20px 30px;
}

@media (width > 1024px) {
    .Footer__Container {
        padding: 150px 120px 30px;
    }
}
