footer {
    background-image: url(../../../assets/img/Footer.webp);
    margin-top: 60px;
    position: relative;
}

footer > hr {
    opacity: 0.2;
    border: 1px solid var(--color-text);
    margin: 30px 0;
}

.FooterTopBG {
    width: 100%;
}

.Footer__Container {
    padding: 30px 40px;
}

@media (width > 1024px) {
    .Footer__Container {
        padding: 50px 120px 30px;
    }
}
