.ProductDetailLayout {
    margin-top: 20px;
}

.ProductDetail__Breadcrumbs {
    width: clamp(280px, 50vw, 100%);
}

.grid-container {
    display: grid;
}

.ProductDetailLayout__Box {
    display: grid;
    gap: 10px;
    background-color: var(--color-default);
}

.ProductDetailLayout__Box img,
.ProductDetail__Img {
    justify-self: center;
    align-self: center;
    width: 220px;
    aspect-ratio: 1;
    border-radius: 20px;
}

.ProductDetailBox__Name {
    font-size: 24px;
    font-weight: 600;
}

.ProductDetailBox__Rating {
    text-decoration: underline;
}

.ProductDetailBox__Price span:first-child {
    color: var(--color-primary);
}

.ProductDetailBox__Price span:last-child {
    text-decoration: underline;
}

.ProductDetailBox__AddToCart {
    display: flex;
    gap: 10px;
    height: 32px;
}

.ProductDetailBox__AddToCart button {
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.ProductDetailBox__AddToCart button:hover {
    background-color: var(--color-primary);
    color: var(--color-default);
}

.ProductDetailBox__AddToCart button:first-child,
.ProductDetailBox__AddToCart button:nth-child(5) {
    transform: rotate(45deg);
}

.ProductDetailBox__AddToCart button:first-child::after {
    position: absolute;
    content: '-10';
    top: 2px;
    left: 1px;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
}

.ProductDetailBox__AddToCart button:nth-child(5)::after {
    position: absolute;
    content: '+10';
    top: 2px;
    left: 1px;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
}

.Quantity_Btn {
    width: 32px;
}

.Quantity_Input {
    text-align: center;
    color: var(--color-alt);
    background-color: var(--color-default);
    width: 50px;
}

.AddToCart_Btn {
    width: 50px;
    font-weight: 700;
}

@media (width > 768px) {
}
