.ProductDetail {
    min-height: 500px;
    margin-top: 10px;
}

.ProductDetail__Breadcrumbs {
    width: clamp(280px, 50vw, 100%);
}

.grid-container {
    display: grid;
}

.ProductDetailLayout__Box {
    display: grid;
    gap: 10px;
    background-color: var(--color-default);
}

.ProductDetail__Img,
.ProductDetailSkeleton__Img {
    justify-self: center;
    aspect-ratio: 1;
    align-self: center;
    width: 220px;
    border-radius: 20px;
}

.ProductDetailBox__Name {
    font-size: 24px;
    font-weight: 600;
}

.ProductDetailBox__Rating {
    text-decoration: underline;
}

.ProductDetailBox__Price span:first-child {
    color: var(--color-primary);
}

.ProductDetailBox__Price span:last-child {
    text-decoration: underline;
}

.ProductDetailBox__AddToCart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    height: 30px;
}

.ProductDetailBox__AddToCart button {
    aspect-ratio: 1;
    transition: var(--transition-fast);
    border-radius: 2px;
}

.ProductDetailBox__AddToCart button:hover {
    background-color: var(--color-primary);
    color: var(--color-default);
}

.ProductDetailBox__AddToCart button:first-child,
.ProductDetailBox__AddToCart button:nth-child(5) {
    rotate: 45deg;
    width: 28px;
    height: 28px;
}

.ProductDetailBox__AddToCart button:first-child::after {
    aspect-ratio: 1;
    rotate: -45deg;
    content: '-10';
    position: absolute;
    top: 2px;
    left: 1px;
    width: 100%;
    font-size: 14px;
}

.ProductDetailBox__AddToCart button:nth-child(5)::after {
    aspect-ratio: 1;
    rotate: -45deg;
    content: '+10';
    position: absolute;
    top: 2px;
    left: 1px;
    width: 100%;
    font-size: 14px;
}

.Quantity_Btn {
    width: 32px;
}

.Quantity_Input {
    width: 50px;
    background-color: var(--color-default);
    color: var(--color-alt);
    text-align: center;
}

.Quantity_Input::-webkit-outer-spin-button,
.Quantity_Input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.AddToCart_Btn {
    width: 80px;
    height: 35px;
    font-weight: 700;
}

@media (width >= 768px) {
    .ProductDetailLayout__Box {
        grid-template-columns: 1fr 1fr;
    }

    .ProductDetailLayout__Box * {
        grid-column: 2;
    }

    .ProductDetail__Img,
    .grid-container {
        grid-row: 1 / 6;
        grid-column: 1;
    }

    .ProductDetailSkeleton__Img {
        grid-column: 1;
    }
}
