.OurProduct {
    text-align: center;
}

.OurProduct .ProductItem {
    opacity: 0;
}

.LoadMore {
    display: inline-block;
    font-weight: 500;
    line-height: 25px;
    padding: 15px 45px;
    border: 2px solid var(--color-primary);
    background-color: transparent;
    cursor: pointer;
    transition: var(--transition-fast);
}

.LoadMore:hover {
    color: var(--color-default);
    background-color: var(--color-primary);
}

@media (width < 430px) {
    .OurProduct .ProductItem {
        animation-delay: 0.3s !important;
    }
}
