.OurProduct {
    text-align: center;
}

.LoadMore {
    display: inline-block;
    font-weight: 500;
    line-height: 25px;
    padding: 15px 45px;
    border: 2px solid var(--color-primary);
    cursor: pointer;
    transition: var(--transiton-fast);
}

.LoadMore:hover {
    color: var(--color-default);
    background-color: var(--color-primary);
}
