.StockistPage .table {
    animation: tableIn 0.3s ease-in-out;
}

.Table-Skeleton {
    width: clamp(280px, 100%, 1920px);
    height: 380px;
}

@keyframes tableIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (width < 425px) {
    .StockistPage {
        overflow-x: auto;
        overflow-y: hidden;
        width: clamp(280px, 100%, 1920px);
    }

    .table {
        width: max-content;
        max-width: none;
        margin-bottom: 0;
    }

    .StockistPage-webkit-scrollbar {
        width: 10px;
    }
    .StockistPage-webkit-scrollbar:horizontal {
        height: 10px;
    }
    .StockistPage-webkit-scrollbar-track {
        background-color: var(--color-alt-rgba-3);
    }
    .StockistPage-webkit-scrollbar-thumb {
        background-color: var(--color-icon);
    }
}
