.StockistPage {
    padding: 0 30px;
}

.StockistPage .table {
    animation: table-in 0.3s ease-in-out;
}

.Table-Skeleton {
    width: clamp(280px, 100%, 1920px);
    height: 400px;
}

@keyframes table-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 425px) {
    .StockistPage {
        width: 280px;
        overflow-y: hidden;
        overflow-x: auto;
        padding: 0;
    }

    .table {
        width: 700px;
        margin-bottom: 0;
        max-width: none;
    }

    .StockistPage-webkit-scrollbar {
        width: 10px;
    }
    .StockistPage-webkit-scrollbar:horizontal {
        height: 10px;
    }
    .StockistPage-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .StockistPage-webkit-scrollbar-thumb {
        background-color: gray;
    }
}
