@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';

:root {
    --color-primary: #f6623e;
    --color-primary-rbga: rgba(246, 98, 62, 0.7);
    --color-default: #ffffff;
    --color-alt: #000000;
    --color-text: #454545;
    --color-icon: #9d9d9d;
    --font-default: 'Jost', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 5px;
    background-color: var(--color-primary-rbga);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

body {
    cursor: context-menu;
}

main {
    max-width: 1920px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 0;
}

h2 {
    font-family: var(--font-default);
    font-size: 36px;
    font-weight: 500;
    line-height: 32px;
    color: var(--color-alt);
    margin-bottom: 40px;
    pointer-events: none;
}

.container {
    --bs-gutter-x: 0;
    margin-top: 30px;
}

.hide {
    transform: translateY(60px);
    opacity: 0;
}

.show {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
