@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';

:root {
    --color-primary: #f6623e;
    --color-primary-rgba: rgba(246, 98, 62, 0.7);
    --color-default: #ffffff;
    --color-alt: #000000;
    --color-alt-rgba-3: rgba(0, 0, 0, 0.3);
    --color-text: #454545;
    --color-icon: #9d9d9d;
    --font-default: 'Jost', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html::-webkit-scrollbar {
    width: 5px;
    background-color: var(--color-primary-rbga);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--color-text);
}

body {
    font-family: var(--font-default);
}

h1 {
    margin-bottom: 0;
}

.ProductContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    justify-content: center;
    gap: 30px;
    transition: all 0.3s ease-in-out;
}

@media (width > 1024px) {
    .ProductContainer {
        grid-template-columns: repeat(auto-fit, 250px);
    }
}

.Container {
    padding: 40px 20px;
}

@media (width > 1024px) {
    .Container {
        padding: 60px;
    }
}
