@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';
@import 'react-loading-skeleton/dist/skeleton.css';

:root {
    --color-primary: #f6623e;
    --color-primary-rgba: rgba(246, 98, 62, 0.7);
    --color-default: #ffffff;
    --color-alt: #000000;
    --color-alt-rgba-1: rgba(0, 0, 0, 0.1);
    --color-alt-rgba-3: rgba(0, 0, 0, 0.3);
    --color-text: #454545;
    --color-icon: #9d9d9d;
    --font-default: 'Jost', sans-serif;
    --transition-fast: all 0.2s ease-in-out;
    --imgLoading: imgLoading 0.7s linear infinite alternate;
}

@keyframes imgLoading {
    from {
        background-color: var(--color-icon);
    }
    to {
        background-color: var(--color-text);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scrollbar-gutter: stable;
}

html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
}

body {
    font-family: var(--font-default);
}

main {
    max-width: 1920px;
    margin: 0 auto;
}

header,
main,
footer {
    min-width: 320px;
}

h1 {
    margin-bottom: 0;
}

ul,
ol,
li {
    list-style-type: none;
}

abbr[title] {
    text-decoration: none;
}

abbr {
    cursor: default;
}

.ProductContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    gap: 30px;
    transition: all 0.3s ease-in-out;
}

@media (width >= 1024px) {
    .ProductContainer {
        grid-template-columns: repeat(auto-fit, 250px);
    }
}

.Container {
    padding: 40px 20px;
}

@media (width >= 1024px) {
    .Container {
        padding: 60px;
    }
}

.preventScroll {
    height: 100%;
    overflow: hidden;
}
