.ProductContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    justify-content: center;
    gap: 30px;
    font-family: var(--font-default);
    margin: 30px 0;
}

.Product {
    animation: productIn 0.3s both ease-in-out;
}

@keyframes productIn {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.Product__Img-Container {
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.ProductItem img {
    width: 100%;
    aspect-ratio: 1;
}

.Product__Img-Container:hover .AddToCart_Bg {
    top: 0;
}

.AddToCart_Bg {
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: all ease-in-out 0.4s;
}

.ProductLink {
    display: grid;
    place-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid var(--color-default);
    border-top-left-radius: 200%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 200%;
    transition: all ease-in-out 0.3s;

    font-size: 16px;
    font-weight: 600;

    color: var(--color-default);
    text-decoration: none;
}

.AddToCart {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-default);
    background: transparent;
    width: 70px;
    height: 70px;
    border: 1px solid var(--color-default);
    border-top-left-radius: 50%;
    border-top-right-radius: 200%;
    border-bottom-right-radius: 200%;
    border-bottom-left-radius: 50%;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.AddToCart:hover,
.ProductLink:hover {
    background: var(--color-primary);
    color: var(--color-default);
}

.Product__Sale {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    padding: 6px 8px;
    color: var(--color-default);
    background: var(--color-primary);
    z-index: 10;
}

.Product__Name {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 25px;
    color: var(--color-alt);
}

.Product__Prices {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.SalePrices {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-primary);
}

.Prices {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--color-text);
    text-decoration: line-through;
}

@media only screen and (max-width: 1440px) {
    .ProductContainer {
        grid-template-columns: repeat(auto-fit, 240px);
    }
}

@media only screen and (max-width: 768px) {
    .ProductContainer {
        grid-template-columns: repeat(auto-fit, 180px);
    }
}
